{% extends 'MWSimpleAdminCrudBundle:Default:new.html.twig' %}

{% block form %}
    {% include 'SistemaRRHHBundle:Form:form-personal-theme.html.twig' with {'form': form} %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/addForm.js') }}"></script>
{% endblock %}
