{% block sistema_rrhhbundle_cliente_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12">
            {% if form.vars.value.filePath is not null%}
                <canvas id="canvas" width="400"  height="368" class="img-thumbnail" name="pruebafile"></canvas>
                <script type="text/javascript">
                    var img = new Image();
                    img.src = "{{ asset('uploads/' ~ form.vars.value.filePath) }}";
                    var canvas2 = $('#canvas');
                    cxt2 = canvas2[0].getContext('2d');
                    cxt2.drawImage(img, 10, 10, 400, 380);
                </script>
            {% else %}    
                <canvas id="canvas" width="400"  height="368" class="img-thumbnail" name="pruebafile"></canvas>
                {% endif %}
            <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal" onClick="return false;">
                Tomar Foto
            </button>
            <input id="fileUpload" type="file" >
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12">
            {{ form_row(form.gimnasio) }}
            {{ form_row(form.apellido) }}
            {{ form_row(form.nombre) }}
            {{ form_row(form.dni) }}
            {{ form_row(form.email) }}
            {{ form_row(form.fechanacimiento) }}
            {{ form_row(form.activo) }}

            {% for actividad in form.actividadCobros %}
                {{ form_row(actividad.plan, { 'attr': {'col': "col-lg-6 col-md-6 col-sm-12"}}) }}
            {% endfor %}

            {{ form_row(form.fechaInscripcion) }}
        </div>
        <br>
            {{ form_row(form.observaciones, 
                { 'attr': {'style': 
                    'overflow: hidden; 
                    word-wrap: break-word; 
                    resize: horizontal; 
                    height: 66px; 
                    width: 454px;'
                }}) 
            }}
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            {% include 'SistemaRRHHBundle:widget:form_fields_AddTelefono.html.twig' with { 'form' : form } %}
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            {% include 'SistemaRRHHBundle:widget:form_fields_AddDomicilio.html.twig' with { 'form' : form } %}
        </div>
    </div>

    <div class="panel-footer">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {{ form_row(form.save) }}
            {{ form_row(form.saveAndAdd) }}
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Foto de perfil</h4>
                </div>
                <div class="modal-body">
                    <video id="video" width="600"  height="368" autoplay="autoplay"></video>
                    <button id="photo" class="btn btn-green" onclick="return false;" style="width: 100%;" data-dismiss="modal">Capturar</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#myModal").on('hidden.bs.modal', function(e) {
                var data = canvas.toDataURL("image/png");
                $("#sistema_rrhhbundle_cliente_fotoPerfil").val(data);
            });
            $("#fileUpload").change(function(event) {
                var files = event.target.files;
                // Obtenemos la imagen del campo "file".
                for (var i = 0, f; f = files[i]; i++) {
                    //Solo admitimos imágenes.
                    if (!f.type.match('image.*')) {
                        continue;
                    }

                    var reader = new FileReader();

                    reader.onload = (function(theFile) {
                        return function(e) {
                            // Insertamos la imagen
                            var img = new Image();
                            var canvas2 = $('#canvas');
                            cxt2 = canvas2[0].getContext('2d');
                            cxt2.clearRect(0, 0, 400, 368);
                            img.onload = function() {
                                cxt2.drawImage(img, 10, 10, 400, 368);
                            }
                            img.src = e.target.result;
                            $("#sistema_rrhhbundle_cliente_fotoPerfil").val(e.target.result);
                        };
                    })(f);

                    reader.readAsDataURL(f);
                }
            });
        });
    </script>
{% endblock %}