{% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
{{ form_start(form) }}

    <div class="row col-lg-9 col-md-12 col-sm-12">
        <h2>Datos de usuario</h2>
        <hr>        
        {{ form_row(form.user.username) }}
    </div>

    <div class="row col-lg-9 col-md-12 col-sm-12">
        {{ form_row(form.user.password.first) }}
    </div>

    <div class="row col-lg-9 col-md-12 col-sm-12">
        {{ form_row(form.user.password.second) }}
    </div>

    <div class="row col-lg-9 col-md-12 col-sm-12">
        {{ form_row(form.gimnasio) }}
    </div>   

    <div class="row col-lg-9 col-md-12 col-sm-12">
        {{ form_row(form.user.enabled, {'label': 'Desea que este usuario este activo?'}) }}        
    </div> 

    <div class="row col-lg-9 col-md-12 col-sm-12">
        <h2>Datos personales</h2>
        <hr>
        {{ form_row(form.apellido) }}
    </div>

    <div class="row col-lg-9 col-md-12 col-sm-12">
        {{ form_row(form.nombre) }}
    </div>

    <div class="row col-lg-9 col-md-12 col-sm-12">
        {{ form_row(form.dni) }}
    </div>

    <div class="row col-lg-9 col-md-12 col-sm-12">
        {{ form_row(form.user.email) }}
    </div>

    <div class="row col-lg-9 col-md-12 col-sm-12">
        {{ form_row(form.fechanacimiento) }}
    </div>

    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5">
            {% include 'SistemaRRHHBundle:widget:form_fields_AddTelefono.html.twig' with { 'form' : form } %}
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7">
            {% include 'SistemaRRHHBundle:widget:form_fields_AddDomicilio.html.twig' with { 'form' : form } %}
        </div>
    </div>
{{ form_end(form) }}
