{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block page %}
	<div class="row">
	    <div class="panel panel-default">
	        <table class="table table-striped table-bordered table-condensed table-responsive">
	            <tbody>
	                <tr>
	                    <th>
	                    	<td>Fecha</td>
	                    	<td>Monto</td>
	                    </th>	                    	                    	                    
	                </tr>	            	
	            {% for entity in entities %}
	                <tr>
	                	<td>#</td>
	                    <td>{{ entity.fecha | date('d/m/Y') }}</td>
	                   	<td>{{ entity.monto }}</td>
	                </tr>
	            {% endfor %}
	            </tbody>
	        </table>
	    </div>
	</div>
{% endblock %}