{% extends 'MWSimpleAdminCrudBundle:Default:show.html.twig' %}

{% block title %}{% endblock %}

{% block page %}
	<div class="panel panel-primary center-block">
	    <div class="panel-heading">
	        <i class="glyphicon glyphicon-ok"></i>
	       Cuenta Corriente del cliente: 
	       {{ cliente.getNombre() }}
	       {{ cliente.getApellido() }}	
	    </div>
	    <div class="panel-body">
	    	<h2>Cuotas</h2>
	    	{% if deuda == 0 %}
	    	
	    		<h3>El cliente no adeuda cuotas.</h3>
	    	{% else %}

	    		<h3>Total a pagar por cuotas impagas, o parcialmente impagas: ${{ deuda|abs }}</h3>
	    	{% endif %}
	    	
	    	{% if saldo > 0 %}
	    		
	    		<h3>El cliente tiene saldo a favor por: ${{ saldo|abs }}</h3>
	    	{% endif %}

	    	<table class="table">
		    	<thead>
		    		<th>Cuotas/Pagos</th>
		    		<th>Fecha de creacion</th>
		    		<th>Actividad - plan</th>
		    		<th>Costo</th>
		    		<th>Saldo</th>
		    		<th>Estado</th>
		    	</thead>
		    	<tbody>
		    	{% for cuota in cuotas %}
 			    	<tr class="active">
 			    		<td>CUOTA</td>
			    		<td> 
			    			<strong>
			    			{{ cuota.fecha|date('d/m/Y') }}
				    		</strong> 
				    	</td>
			    		<td>
			    			<strong>
			    				{{ cuota.getActividadCobro().getPlan().getActividad().nombre }}  -  
			    				{{ cuota.getActividadCobro().getPlan().nombre }}
			    			</strong>
			    		</td>
			    		<td>
			    			<strong>
			    				{{ cuota.costo }}
			    			</strong>
			    		</td>
			    		<td>
			    			<strong>
			    				{{ cuota.calcularSaldo() }}
			    			</strong>
			    		</td>
			    		
			    		<td>
				    		{% if cuota.pagada == 1 %}

			              		<strong style="color: green;">Cuota pagada.</strong>
			                {% else %}
			                	<strong style="color: red;">Cuota para pagar!</strong>
			                	
			            	{% endif %}
		            	</td>
		            </tr>
		           {% for pago in cuota.getPagos() %}
		            	<tr>
		            		<td>PAGO</td>
		            		<td>
		            			{{ pago.pago.fecha|date('d/m/Y') }}
		            		</td>
		            		<td>
		            			-------------
		            		</td>
		            		<td>
		            			{{ pago.monto }}
		            		</td>		            		
		            		<td>
		            			-------------
		            		</td>
		            		<td>
		            			-------------
		            		</td>
		            	</tr>
		            {% endfor %}
		    	{% endfor %}
		    	</tbody>
	    	</table>
	    </div>
	</div>
{% endblock %}

{% block buttonsbelow %}{% endblock %}
