{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}
{% block page %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4><i class="fa fa-check-square-o"></i> </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover" style="margin-bottom: 0px;">
                        <thead>
                            <tr>
                                <th class="col-xs-9 col-sm-3">Cliente</th>
                                <th class="col-xs-9 col-sm-3">Actividad</th>
                                <th class="col-xs-2 col-sm-2">Fecha Vencimiento</th>
                                <th class="col-sm-6 hidden-xs">Costo</th>
                                <th class="col-sm-6 hidden-xs">Accion</th>
                                </tr>
                        </thead>
                        <tbody id="tablaCuotas">

                        </tbody>

                    </table>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="modalPerfilCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" id="contenidoPerfilCliente">

                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascript %}
        {{ parent() }}
        <script type='text/javascript' src='{{ asset('bundles/sistemagym/js/handlebars-v1.3.0.js') }}'></script> 
        <script type='text/javascript' src='{{ asset('bundles/sistemagym/js/metodosHandlebar.js') }}'></script> 
        <!--codigo para copilar modal perfil cliente-->
        <script id="hbModalPerfilCliente" type="text/x-handlebars-template">
            {% verbatim  %} 
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">{{text}}</h4>
                </div>
                <div class="modal-body">
                <div class="row">
                <div class="col-md-12" >
                <img src="/uploads/{{fotoPerfil}}" alt="" class="pull-left" style="margin: 0 20px 20px 0;width: 200px;" >
                <div class="table-responsive">
                <table class="table table-condensed">
                <tbody>
                <tr>
                <td>E-mail</td>
                <td>{{email}}</td>
                </tr>
                <tr>
                <td>Activo</td>
                <td>activo</td>
                </tr>
                </tbody>
                </table>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            {% endverbatim  %}
        </script>
        <!--codigo para copilar tabla de historial de cuotas-->
        <script id="hbTablaCuotas" type="text/x-handlebars-template">
            {% verbatim  %}
                {{#each this}}
                <tr>
                <td>{{cliente}}</td>
                <td>{{actividadNombre}}</td>
                <td>{{fechaVencieminto}}</td>
                <td>{{costo}}</td>
                <td>
                   <a href="#">VerPerilCliente</a>
                   <a href="#">Pagar</a>
                 </td>
                </tr>
                {{/each }}        
            {% endverbatim  %}
        </script>

        <script type="text/javascript">
            function buscarCliente(event) {
                $.ajax({
                    type: "POST",
                    url: "{{ path('cuota_autocomplete_cliente_allactividadcobro') }}",
                    data: {id: event.id},
                    success: function (array) {
                        //actuliza panel actividad cobro
                        var fuente = $('#hbTablaCuotas').html();
                        var plantilla = Handlebars.compile(fuente);
                        var html = plantilla(array[0]);
                        $('#listActividadCobro').html(html);

                        //modal perfil Cliente
                        var fuente = $('#hbModalPerfilCliente').html();
                        var plantilla = Handlebars.compile(fuente);
                        var html = plantilla(event);
                        $('#contenidoPerfilCliente').html(html);

                        //tabla general todas las cuotas 
                        var fuente = $('#hbTablaHistorialCuotasNoPagas').html();
                        var plantilla = Handlebars.compile(fuente);
                        var html = plantilla(array[1]);
                        $('#tablaHistorialCuotasNoPagas').html(html);

                    },
                    error: function (data) {
                        console.log("error");
                        $('#mjes').html("<div class='alert alert-danger'>Error al actualizar</div>");
                        setTimeout(function () {
                            $('#mjes').html("");
                        }, 5000);
                    }
                });
            }
        </script>
    {% endblock %}