{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block page %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="pull-left">{{ 'views.index.list'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}</h3>
            <a class="pull-right" href="javascript:;" class="btn btn-primary" id="actualizarVentana">
                <i class="fa fa-refresh"></i> Actualizar
            </a>
        </div>
        <div class="panel-body">
            <div class="row">
                <input type="hidden" id="hidPorCliente">
                <input type="hidden" id="hiHistorial">
                <input type="hidden" id="hiPorMes">
                <input type="hidden" id="hiHastaMes">
                <div class="col-md-12">
                    <div class="tab-container tab-success">
                        <ul class="nav nav-tabs" id="tabOpciones">
                            <li class="{% if cliente is null %}active{% endif %}" id='tabTodos'>
                                <a data-toggle="tab" href="#todo">Todos</a>
                            </li>
                            <li class="" id='tabPorMes'>
                                <a data-toggle="tab" href="#porMes">Por Mes</a>
                            </li>
                            <li class="" id='tabCuotasVencidas'>
                                <a data-toggle="tab" href="#cuotasVencidas">Cuotas vencidas</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            {# TODOS #}
                            <div id="todo" class="tab-pane {% if cliente is null %}active clearfix{% endif %}">
                                <div class="row">
                                    <table id="tablaCuotasAllCliente" class="table table-striped table-bordered datatables" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info">
                                        <thead>
                                            <tr>
                                                <th>Cliente</th>
                                                <th>Plan</th>
                                                <th>Fecha Vencimiento</th>
                                                <th>Costo</th>
                                                <th>Saldo</th>
                                                <th>Accion</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            {# POR MES #}
                            <div id="porMes" class="tab-pane">
                                <div class="row">
                                    <form class="form-horizontal" onclick="return(false);">
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 control-label">
                                                Solo mes
                                                <i class='glyphicon glyphicon-question-sign tooltips'
                                                    rel='tooltip'
                                                    data-toggle="tooltip"
                                                    data-original-title="Este selector de mes lo ayudara a filtrar las cuotas que solo se debieran pagar en el mes elejido de este año.">
                                                </i>
                                            </label>
                                            <div class="col-lg-2 col-md-2">
                                                <select class="form-control" id="select_mes" name="select_por_mes">
                                                    <option selected disabled>Seleccionar Mes</option>
                                                    <option value="01">Enero</option>
                                                    <option value="02">Febrero</option>
                                                    <option value="03">Marzo</option>
                                                    <option value="04">Abril</option>
                                                    <option value="05">Mayo</option>
                                                    <option value="06">Junio</option>
                                                    <option value="07">Julio</option>
                                                    <option value="08">Agosto</option>
                                                    <option value="09">Septiembre</option>
                                                    <option value="10">Octubre</option>
                                                    <option value="11">Noviembre</option>
                                                    <option value="12">Diciembre</option>
                                                </select>
                                            </div>
                                            <label class="col-lg-2 col-md-2 control-label">
                                                Hasta mes
                                                <i class='glyphicon glyphicon-question-sign tooltips'
                                                    rel='tooltip'
                                                    data-toggle="tooltip"
                                                    data-original-title="Este selector traera todas las cuotas que no estan pagas hasta el mes elejido del año actual.">
                                                </i>
                                            </label>
                                            <div class="col-lg-2 col-md-2">             
                                                <select class="form-control" id="select_hasta_mes" name="select_hasta_mes">
                                                    <option selected disabled>Seleccionar Mes</option>
                                                    <option value="01">Enero</option>
                                                    <option value="02">Febrero</option>
                                                    <option value="03">Marzo</option>
                                                    <option value="04">Abril</option>
                                                    <option value="05">Mayo</option>
                                                    <option value="06">Junio</option>
                                                    <option value="07">Julio</option>
                                                    <option value="08">Agosto</option>
                                                    <option value="09">Septiembre</option>
                                                    <option value="10">Octubre</option>
                                                    <option value="11">Noviembre</option>
                                                    <option value="12">Diciembre</option>
                                                </select>
                                            </div>                                            
                                        </div>
                                    </form>
                                    <table id="tablaCuotasPorMes" class="table table-striped table-bordered datatables" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info">
                                        <thead>
                                            <tr>
                                                <th>Cliente</th>
                                                <th>Plan</th>
                                                <th>Fecha Vencimiento</th>
                                                <th>Costo</th>
                                                <th>Saldo</th>
                                                <th>Accion</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div id="cuotasVencidas" class="tab-pane">
                                <div class="row">
                                    <table id="tablaCuotasVencidas" class="table table-striped table-bordered datatables" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info">
                                        <thead>
                                            <tr>
                                                <th>Cliente</th>
                                                <th>Plan</th>
                                                <th>Fecha Vencimiento</th>
                                                <th>Costo</th>
                                                <th>Saldo</th>
                                                <th>Accion</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>                            
                        </div>
                    </div>
        <div class="panel-footer">
            <div class="col-lg-12">
                <a class="btn btn-primary likepaginator" href="{{ path('admin_cuota_new') }}"> 
                    Crear Cuota 
                </a>
                <button id="generarAsistenciasCuotas" class="btn btn-warning likepaginator" 
                        style="visibility: hidden;"> 
                    Generar Asistencias Cuotas
                </button> 
                <button id="generarCuotas" class="btn btn-warning likepaginator" style="visibility: hidden;">    Generar Cuotas 
                </button>
            </div>
        </div>
    </div>

    <!-- Modal confirmar Pago Cuota -->
    <div class="modal fade" id="modalPagarCuota" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">
                            Cerrar
                        </span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Confirmar Pago</h4>
                </div>
                <div class="modal-body">
                    <input id="idActCobro" name="nidActCobro" type="hidden"/>
                    Confirma el pago?
                    <p id='deuda_id'></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnConfirmarPago">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal confirmar Eliminar cuota-->
    <div class="modal fade" id="modalEliminarCuota" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel">Alerta</h4>
                </div>
                <div class="modal-body">
                    <input id="nhidCuota" name="nhidCuota" type="hidden"/>
                    Confirmar Eliminacion?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnConfirmarEliminar">Confirmar</button>
                </div>

            </div>
        </div>
    </div>

    {{ include('SistemaGymBundle:Form:macro-modalCliente.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sistemagym/plugins/datatables/css/jquery.dataTables.css') }}">
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/sistemagym/plugins/datatables/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sistemagym/plugins/datatables/js/dataTables.bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sistemagym/plugins/fullcalendar/fullcalendar.min.js') }}" type="text/javascript"></script>

    {# CARGO LAS TABLAS #}
    {{ include('SistemaGymBundle:Cuota:tablaAcitividadCobroByCliente.html.twig') }}
    {{ include('SistemaGymBundle:Cuota:tablaCuotasNoPagasByCliente.html.twig') }}

    <script type="text/javascript">
        $(document).ready(function () {

            $("#hidPorCliente").val(0);
            $("#hiHistorial").val(0);
            $("#hiPorMes").val(0);
            $("#hiHastaMes").val(0);

            {% if cliente is not null %}
                    $("#hidPorCliente").val({{ cliente }});
                    buscarCuotasNoPagasActCobrByCliente({{ cliente }});
            {% else %}
                    obtenerCuotasNoPagasAllClientes();
            {% endif %}
        });

            function actualizarTabs() {

                if ($("#tabCuotasVencidas").attr('class') === "active") {

                    generarAsistenciasCuotasVisible('hidden');
                    obtenerAllCuotasVencidas();

                } else if ($("#tabPorCliente").attr('class') === "active") {

                    generarAsistenciasCuotasVisible('hidden');
                    if ($.trim($("#select2_form_cliente").val()) != "") {
                        buscarCuotasNoPagasActCobrByCliente($("#hidPorCliente").val());
                    } else {
                        mostrarMensaje("Elija primero un cliente", "error");
                    }

                } else if ($("#tabTodos").attr('class') === "active") {
                    generarAsistenciasCuotasVisible('hidden');
                    obtenerCuotasNoPagasAllClientes();

                } else if ($("#tabPorMes").attr('class') === "active") {

                    if ($("#hiPorMes").val() != 0) {
                        obtenerCuotasNoPagasPorMes($("#hiPorMes").val());
                        generarAsistenciasCuotasVisible('visible');
                    } else if($("#hiHastaMes").val != 0) {
                        obtenerCuotasNoPagasHastaMes($("#hiHastaMes").val());
                    }else{
                        mostrarMensaje("Elija primero un mes", "error");
                    }
                }
            }
            function buscarHistorialCuotaNoPagas(boton) {
                var idAc = boton.getAttribute("data-id");
                $.ajax({
                    type: "POST",
                    url: "{{ path('Cuota_autocomplete_cuota_byActividadCobro') }}",
                    data: {id: idAc},
                    success: function (array) {
                        dibujarCalendario(array);
                    },
                    error: function (data) {
                        mostrarMensaje("Error al actualizar", "error");
                    }
                });
            }

            $("#btnVerPerfilCliente").click(function () {

            });

            function buscarCliente(cliente) {
                if ($.trim($("#select2_form_cliente").val()) != "") {
                    buscarCuotasNoPagasActCobrByCliente(cliente.id);
                } else {
                    mostrarMensaje("Elija primero un cliente", "error");
                }
            }

            function cargarDatoModal(_id, _saldo) {
                $("#idActCobro").val(_id);
                $('#modalPagarCuota').modal('show');
                $("#deuda_id").text("Se pagaran : " + _saldo);
            }

            $("#btnConfirmarPago").click(function () {
                $(this).attr('disabled', true);
                var arrayid = $("#idActCobro").val().split(",");
                $.ajax({
                    type: "POST",
                    url: "{{ path('cuota_pagar') }}",
                    data: {id: arrayid},
                    success: function (array) {
                        if (array[0].resultado === true) {
                            //pregunto que pestania esta activa para actualizar tabla
                            actualizarTabs();
                            mostrarMensaje("Registros Creados", "success");
                        } else {
                            mostrarMensaje("Error al actualizar", "error");
                        }
                        $("#btnConfirmarPago").attr('disabled', false);
                        $('#modalPagarCuota').modal('hide');
                    },
                    error: function (data) {
                        mostrarMensaje("Error al actualizar", "error");
                        $("#btnConfirmarPago").attr('disabled', false);
                        $('#modalPagarCuota').modal('hide');
                    }
                });
            });

            $(".mostrarCliente").click(function () {
                if ($("#tabPorClienteHistorial").attr('class') === "active") {
                    if ($.trim($("#s2id_e9").text()) != "Buscar Cliente...") {
                        verPerfilCompleto($("#hiHistorial").val());
                    } else {
                        mostrarMensaje("Elija primero un cliente", "error");
                    }
                } else if ($("#tabPorCliente").attr('class') === "active") {
                    verPerfilCompleto($("#hidPorCliente").val());
                } else {
                    mostrarMensaje("Elija primero un cliente", "error");
                }
            });

            $("#btnConfirmarEliminar").click(function () {
                $(this).attr('disabled', true);
                $.ajax({
                    type: "POST",
                    url: "{{ path('Cuotas_eliminar') }}",
                    data: {id: $("#nhidCuota").val()},
                    dataType: "json",
                    success: function (array) {
                        if (array.resultado === true) {
                            actualizarTabs();
                            mostrarMensaje("Registros Eliminado", "success");
                        } else {
                            mostrarMensaje("Error al Eliminar", "error");
                        }
                        $("#btnConfirmarEliminar").attr('disabled', false);
                        $('#modalEliminarCuota').modal('hide');
                        var countCuotas = {{ app.session.get('countCuotas') }};
                                countCantidadCuotas(countCuotas + 1);
                    },
                    error: function (data) {
                        mostrarMensaje("Error al Eliminar", "error");
                        $("#btnConfirmarEliminar").attr('disabled', false);
                    }
                });
            });

            function obtenerArray(array) {
                var arr = new Array();
                $.each(array, function (key, obj) {
                    var arr2 = new Array();
                    $.each(obj, function (k, value) {
                        arr2.push(value)
                    });
                    arr.push(arr2)
                });
                return arr;
            }

            function EliminarCuota(_id) {
                $("#nhidCuota").val(_id);
                $('#modalEliminarCuota').modal('show')
            }
            function actualizarTabla(idtabla, array) {
                $('#' + idtabla).dataTable().fnDestroy();
                $('#' + idtabla).dataTable({
                    "language": {
                        "url": "{{ asset('bundles/sistemagym/js/lang/Spanish.json') }}",
                    },
                    "order": [],
                    "lengthMenu": [[20, 30, 50, -1], [20, 30, 50, "All"]],
                    "bRetrieve": true,
                    "bProcessing": true,
                    "data": array,
                    "sDom": "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
                    "sPaginationType": "bootstrap",
                });
                $('.dataTables_filter input').addClass('form-control').attr('placeholder', 'Buscar en la tabla...');
                $('.dataTables_length select').addClass('form-control');
            }
            $("#actualizarVentana").click(function () {
                actualizarTabs();
            });
            // TODOS
            $("#tabTodos").click(function () {
                obtenerCuotasNoPagasAllClientes();
            });
            function obtenerCuotasNoPagasAllClientes() {
                bloquearPantalla();
                $.ajax({
                    type: "POST",
                    url: "{{ path('cuotas_no_pagas_todos_cliente') }}",
                    success: function (arrayJ) {
                        var array = new Array();
                        array = obtenerArray(arrayJ);
                        actualizarTabla("tablaCuotasAllCliente", array);
                        $.unblockUI();
                    },
                    error: function (data) {
                        $.unblockUI();
                        mostrarMensaje("Error al actualizar", "error");
                    }
                });
            }
            // CUOTAS VENCIDAS
            $("#tabCuotasVencidas").click(function () {
                obtenerAllCuotasVencidas();
            });
            function obtenerAllCuotasVencidas() {
                bloquearPantalla();
                $.ajax({
                    type: "POST",
                    url: "{{ path('cuotas_vencidas') }}",
                    success: function (arrayJ) {
                        var array = new Array();
                        array = obtenerArray(arrayJ);
                        actualizarTabla("tablaCuotasVencidas", array);
                        $.unblockUI();
                    },
                    error: function (data) {
                        $.unblockUI();
                        mostrarMensaje("Error al actualizar", "error");
                    }
                });
            }            
            // POR MES
            $("#select_mes").change(function () {
                //actualizo boton para actualizar
                $("#hiPorMes").val(this.value);
                //actualizo tabla
                obtenerCuotasNoPagasPorMes(this.value);
                //muestro boton para generar asistencias y cuotas, cuotas
                generarAsistenciasCuotasVisible('visible');
            });
            // HASTA MES
            $("#select_hasta_mes").change(function () {
                //actualizo boton para actualizar
                $("#hiHastaMes").val(this.value);
                //actualizo tabla
                obtenerCuotasNoPagasHastaMes(this.value);
                //cambiar la visibilidad el boton para generar cuotas
                $("#generarCuotas").css('visibility', 'hidden');
            });            
            $("#tabPorMes").click(function () {
                if ($("#hiPorMes").val() != "0") {
                    obtenerCuotasNoPagasPorMes($("#hiPorMes").val());
                }
            });
            $("#tabPorMes").click(function () {
                if ($("#hiHastaMes").val() != "0") {
                    obtenerCuotasNoPagasHastaMes($("#hiHastaMes").val());
                }
            });            
            function obtenerCuotasNoPagasPorMes(selectMes) {
                bloquearPantalla();
                $.ajax({
                    type: "POST",
                    url: "{{ path('cuotas_no_pagas_todos_cliente') }}",
                    data: {mes: selectMes, signo_fecha: "="},
                    success: function (arrayJ) {
                        var array = new Array();
                        array = obtenerArray(arrayJ);
                        actualizarTabla("tablaCuotasPorMes", array);
                        $.unblockUI();
                    },
                    error: function (data) {
                        $.unblockUI();
                        mostrarMensaje("Error al actualizar", "error");
                    }
                });
            }
            function obtenerCuotasNoPagasHastaMes(selectMes) {
                bloquearPantalla();
                $.ajax({
                    type: "POST",
                    url: "{{ path('cuotas_no_pagas_todos_cliente') }}",
                    data: {mes: selectMes, signo_fecha: "<="},
                    success: function (arrayJ) {

                        var array = new Array();
                        array = obtenerArray(arrayJ);
                        
                        actualizarTabla("tablaCuotasPorMes", array);
                        $.unblockUI();
                    },
                    error: function (data) {
                        $.unblockUI();
                        mostrarMensaje("Error al actualizar", "error");
                    }
                });
            }            
            function generarAsistenciasCuotasVisible(visibility) {
                if ($("#hiPorMes").val() != 0) {
                    //$("#generarAsistenciasCuotas").text("Generar Asistencias y Cuotas Mes: " + $("#hiPorMes").val());
                    //$("#generarAsistenciasCuotas").css('visibility', visibility);
                    $("#generarCuotas").text("Generar Solo Cuotas Mes: " + $("#hiPorMes").val());
                    $("#generarCuotas").css('visibility', visibility);
                }               
            }
            //Genera asistencias y cuotas
            // $("#generarAsistenciasCuotas").click(function(event) {
            //     if (confirm(
            //         "Esta seguro de " + $("#generarAsistenciasCuotas").text() +"?\n"+
            //         "Este proceso genera las asistencias con dia 1 en el mes seleccionado de todos los clientes con actividades\n"+
            //         "Además genera las cuotas correspondientes para cada cliente en el mes seleccionado si las mismas no existen.")) {
            //         bloquearPantalla();
            //         $.ajax({
            //             type: "POST",
            //             url: "{{ path('admin_generar_asistencias_mes') }}",
            //             data: {mes: $("#hiPorMes").val()},
            //             success: function() {
            //                 obtenerCuotasNoPagasPorMes($("#hiPorMes").val());
            //             },
            //             error: function() {
            //                 $.unblockUI();
            //                 mostrarMensaje("Error al generar las asistencias y cuotas", "error");
            //             }
            //         });
            //     }
            // });
            //Genera solo cuotas
            $("#generarCuotas").click(function (event) {
                if (confirm(
                        "Esta seguro de " + $("#generarCuotas").text() + "?\n" +
                        "Este proceso genera solo las cuotas correspondientes para cada cliente en el mes seleccionado si las mismas no existen.")) {
                    bloquearPantalla();
                    $.ajax({
                        type: "POST",
                        url: "{{ path('admin_generar_cuotas_mes') }}",
                        data: {mes: $("#hiPorMes").val()},
                        success: function () {
                            obtenerCuotasNoPagasPorMes($("#hiPorMes").val());
                        },
                        error: function () {
                            $.unblockUI();
                            mostrarMensaje("Error al generar las cuotas", "error");
                        }
                    });
                }
            });
            // POR CLIENTE
            $("#tabPorCliente").click(function () {
                if ($("#hidPorCliente").val() != 0) {
                    buscarCuotasNoPagasActCobrByCliente($("#hidPorCliente").val());
                }
            });
            function buscarCuotasNoPagasActCobrByCliente(idCliente) {
                bloquearPantalla();
                $.ajax({
                    type: "POST",
                    url: "{{ path('cuota_autocomplete_cliente_allactividadcobro') }}",
                    data: {id: idCliente},
                    success: function (array) {

                        //actualiza panel actividad cobro
                        var fuente = $('#hbListActividadCobro').html();
                        var plantilla = Handlebars.compile(fuente);
                        var html = plantilla(array[0]);
                        $('#listActividadCobro').html(html);

                        //actualizo input para actualizar
                        $("#hidPorCliente").val(idCliente);

                        //tabla general todas las cuotas 
                        actualizarTablaTodasLasCuotasByCliente(array[0]);
                        $.unblockUI();
                    },
                    error: function (data) {
                        $.unblockUI();
                        mostrarMensaje("Error al actualizar", "error");
                    }
                });
            }
            // HISTORIAL
            $("#tabPorClienteHistorial").click(function () {
                if ($("#hiHistorial").val() != 0) {
                    buscarHistorialClienteCuotasPagas($("#hiHistorial").val());
                }
            });
            function buscarHistorialClienteCuotasPagas(idcliente) {
                if ($.trim($("#s2id_e9").text()) != "Buscar Cliente...") {
                    bloquearPantalla();
                    $.ajax({
                        type: "POST",
                        url: "{{ path('cuotas_vencidas') }}",
                        data: {id: idcliente},
                        //dataType: 'json',
                        success: function (arrayJ) {
                            //actualizo boton para actualizar
                            $("#hiHistorial").val(idcliente);
                            //actualizo tabla
                            var array = new Array();
                            array = obtenerArray(arrayJ);
                            actualizarTabla("tablaCuotasPagas", array);
                            $.unblockUI();
                        },
                        error: function (data) {
                            $.unblockUI();
                            mostrarMensaje("Error al actualizar", "error");
                        }
                    });
                } else {
                    mostrarMensaje("Elija primero un cliente", "error");
                }
            }
            function bloquearPantalla() {
                $.blockUI({
                    message: '<h1>Aguarde un momento...</h1><p>En caso de demorar, click con el mouse.</p>',
                    onOverlayClick: $.unblockUI
                });
            }
    </script>
{% endblock %}