{% extends 'MWSimpleAdminCrudBundle:Default:new.html.twig' %}

{% block javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $("#sistema_gymbundle_cuota_fecha_day").hide();
        $(".txtActividadCobro").change(function () {
            $actividadCobro = JSON.parse($(this).siblings('input').val());
            $(".txtCosto").children('input').val($actividadCobro.costo);
        });
    </script>

    {% if config.validator is defined %}
        {% if config.validator == true %}
            <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
        {% else %}
            <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget_not_validator.js') }}"></script>
        {% endif %}
    {% else %}
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
    {% endif %}
{% endblock %}

{% block buttonsbelow %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="float-left col-lg-3 col-md-3 col-sm-3">
                <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                    {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
                </a>
            </div>
        </div>
    {% endif %}   
{% endblock %}