{% extends 'MWSimpleAdminCrudBundle:Default:show.html.twig' %}

{% block infoExtra %}
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-2 control-label" for="cliente">Cliente</label>
            <div class="col-sm-6">
                <input id="cliente" class="form-control" type="text" value="{{entity.actividadCobro.cliente}}">
            </div>
            <div class="col-sm-3">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class=" btn btn-info" type="button" id="btnVerPerfilCliente">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
    {{ include('SistemaGymBundle:Form:macro-modalCliente.html.twig') }}
    <script type="text/javascript">
        $("#btnVerPerfilCliente").click(function() {
            verPerfilCompleto({{ entity.actividadCobro.cliente.id }});
        });
    </script>
{% endblock %}

{% block buttonsbelow %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="float-left col-lg-3 col-md-3 col-sm-3">
                <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                    {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
                </a>
            </div>
                <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
        </div>
    {% endif %}   
{% endblock %}
