<!--codigo para copilar lista de actividades cobro-->
<script id="hbListActividadCobro" type="text/x-handlebars-template">
    {% verbatim  %}
        {{#each this}}
            <li class="item-info">
                <span class = "task-description" > <i class="fa fa-tag" data-original-title="" title=""></i> {{actividad}} - Dias semanales: {{cantDias}} - costo: {{costo}} 
                </span>
                <div class = "options todooptions" >
                    <div class = "btn-group" >
                        <input id="optionsRadios1" 
                        onclick="elegirActividadCobro({{id}},{{costo}});" type="radio" value="option1" name="optionsRadios">
                    </div>   
                </div>
            </li>
        {{/each }}  
    {% endverbatim  %}
</script>


<script type="text/javascript">
    function actualizarListaActividades(array) {

        if (array.length > 0) {

            var fuente    = $('#hbListActividadCobro').html();
            var plantilla = Handlebars.compile(fuente);
            var html      = plantilla(array);
            $('#listActividadCobro').html(html);
        } else {

            $('#listActividadCobro').html("<div class='alert alert-info'>El cliente no esta en ningun plan</div><br>");
        }
    }

    function elegirActividadCobro(actividadCobro, costo) {

        $("#sistema_gymbundle_cuota_costo").val(costo);
        $("#hactCobro").val(actividadCobro);
    }
</script>

