<!--codigo para copilar lista de actividades cobro-->
<script id="hbListActividadCobro" type="text/x-handlebars-template">
{% verbatim  %}
    {{#each this}}
    <li class="item-info">
        <span class = "task-description" > <i class="fa fa-tag" data-original-title="" title=""></i> {{actividad}} - Dias semanales: {{cantDias}} - costo: {{costo}} </span>
        <div class = "options todooptions" >
            <div class = "btn-group" >
                <button class = "btn btn-green btn-xs" data-id = "{{id}}" onClick = "buscarHistorialCuotaNoPagas(this)">
                    <i class=" fa fa-calendar"></i>
                </button>
            </div>
        </div>
    </li>
    {{/each }}  
{% endverbatim %}
</script>
