<!--Todas las cuotas no pagas-->
<script id="hbTablaHistorialCuotasNoPagas" type="text/x-handlebars-template">
    {% verbatim %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Pagar</th>
                <th>Fecha</th>
                <th>Plan</th>
                <th>Costo</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
                <tr>
                    <td>
                    <input class = "checkboxCuota" type = "checkbox" data-id="{{id}}" 
                            data-fecha="{{ diaCobro }}/{{ mes }}/{{ anio }}">
                    </td>
                    <td>{{ diaCobro }}/{{ mes }}/{{ anio }}</td>
                    <td>{{ actividad }}</td>
                    <td>{{ costo }}</td>
                    <td>
                        <a class="glyphicon glyphicon-usd tooltips" 
                            onclick="cargarDatoModal('{{ id }}','{{ saldo }}');"  
                            href="javascript:;" title="Pagar">
                        </a>
                    </td>
                </tr>
            {{/each }}
        </tbody>
        <tfoot>
            <tr class="active">
                <td class="text-center" colspan="5">
                    <button class="btn btn-primary btn-small" onclick="obtenerTodosChboxActivos();" href="javascript:;"> 
                        Pagar
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
    {% endverbatim  %}
</script>
<script id="hbTablaHistorialCuotasPagas" type="text/x-handlebars-template">
    {% verbatim %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Plan</th>
                <th>Costo</th>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
                <tr>
                    <td>{{ diaCobro }}/{{ mes }}/{{ anio }}</td>
                    <td>{{ actividad }}</td>
                    <td>{{ costo }}</td>
                </tr>
            {{/each }}
        </tbody>
    </table>
    {% endverbatim  %}
</script>
<script type="text/javascript">
    function actualizarTablaTodasLasCuotasByCliente(array) {

        if (array.length > 0) {

            fuente    = $('#hbTablaHistorialCuotasNoPagas').html();
            plantilla = Handlebars.compile(fuente);
            html      = plantilla(array);
            $('#tablaHistorialCuotasNoPagas').html(html); 
                       
        } else {
            $('#tablaHistorialCuotasNoPagas').html("<div class='alert alert-info'>El cliente no debe ninguna cuota</div><br>");
        }
    }
    function obtenerTodosChboxActivos() {
        var cuotas;
        $("#idActCobro").val(null);
        $(".checkboxCuota:checkbox:checked").each(function () {
            if ($(this).val() === "on") {
                $("#idActCobro").val($("#idActCobro").val() + $(this).data('id') + ',');
            }
        });
        if ($("#idActCobro").val() === "") {
            mostrarMensaje("No selecciono ninguna cuota", "error");
        } else {
            $('#modalPagarCuota').modal('show')
        }
        
        var srt = $("#idActCobro").val();
        srt = srt.slice(',', -1);
        $("#idActCobro").val(srt);
    }
</script>