{% extends 'MWSimpleAdminCrudBundle:Default:edit.html.twig' %}

{% block form %}
    {% form_theme edit_form 'SistemaGymBundle:Form:form-actividad-theme.html.twig'  %}
    {{ form(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/addForm.js') }}"></script>
{% endblock %}