{% extends 'MWSimpleAdminCrudBundle:Default:show.html.twig' %}
{% block infoExtra %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>
                        <i class="icon-highlight fa fa-clock-o"></i>
                        Planes
                    </h4>
                </div>
                <div class="panel-body">
                    <ul class="panel-tasks ui-sortable">
                        {% for p in entity.planes %}
                            <li>
                                <label>
                                    <span class="task-description">{{p.actividad}}&nbsp;-&nbsp;Dias Semanales:&nbsp;{{p.cantidadDiasSemana}}&nbsp;-&nbsp;Costo:&nbsp;<i class="glyphicon glyphicon-usd tooltips" data-original-title="" title=""></i>{{p.costo}}</span>
                                    {% if p.activo %}
                                        <span class="label label-success">Activo</span>
                                    {% else %}
                                        <span class="label label-danger">Deshabilitado</span>
                                    {% endif %}
                                </label>
                            </li>
                        {% endfor%}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>
                        <i class="icon-highlight fa fa-book"></i>
                        Horarios
                    </h4>
                </div>
                <div class="panel-body">
                    <ul class="panel-tasks ui-sortable">
                        {% for h in entity.horarios %}
                            <li>
                                <label>
                                    <span class="task-description">{{ h }}</span>
                                </label>
                            </li>
                        {% endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block buttonsbelow %}
    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
        {% endif %}
    </div>
{% endblock %}