{% extends 'MWSimpleAdminCrudBundle:Default:edit.html.twig' %}

{% block form %}
    {% include 'SistemaGymBundle:Form:form-actividadCobro-theme.html.twig' with { 'form' : edit_form, 'edit' : true } %}

    <script src="{{ asset('bundles/sistemamwsconf/js/addForm.js') }}"></script>
{% endblock %}