{% extends 'MWSimpleAdminCrudBundle:Default:new.html.twig' %}

{% block form %}
    {% include 'SistemaGymBundle:Form:form-actividadCobro-theme.html.twig' with { 'form' : form } %}
    <script src="{{ asset('bundles/sistemamwsconf/js/addForm.js') }}"></script>
{% endblock %}