{% extends 'MWSimpleAdminCrudBundle:Default:show.html.twig' %}

{% block page %}
    <div class="panel panel-primary center-block">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-ok"></i> {{ 'views.show.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
        </div>
        <div class="panel-body">
            <div class="row">
                {% for key, field in config.fieldsshow %}
                    <div class="{% if field.class is defined %}{{ field.class }}{% else %}col-lg-12 col-md-12 col-sm-12{% endif %}">
                        <label class="control-label">{{ field.label }}</label>
                        {% if field.type in ['datetime', 'datetimetz', 'date', 'time'] %}
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ attribute(entity, field.name)|date(field.date) }}
                                </span>
                            </div>
                        {% elseif field.type in ['boolean'] %}
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ isActive(attribute(entity, field.name)) }}
                                </span>
                            </div>
                        {% elseif field.type in ['ONE_TO_MANY', 'MANY_TO_MANY'] %}
                            {% set many_entity = attribute(entity, field.name) %}
                            <div class="well">
                                <span class="input-xlarge uneditable-input">
                                    {% for key, field_many in many_entity %}
                                        {{ field_many }}
                                        {% if field.separator is defined %}
                                            {{ field.separator|raw }}
                                        {% else %}
                                            |
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            </div>
                        {% elseif field.type in ['text', 'text_html'] %}
                            <div class="well">
                                {% if field.type == 'text_html' %}
                                    {{ attribute(entity, field.name)|raw }}
                                {% else %}
                                    {{ attribute(entity, field.name) }}
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {% if field.type == 'string_html' %}
                                        {{ attribute(entity, field.name)|raw }}
                                    {% else %}
                                        {{ attribute(entity, field.name) }}
                                    {% endif %}
                                </span>
                            </div>
                        {% endif %}
                    </div>
                    {% if field.name == "Cliente" %}
                        <div class="col-lg-1">
                            <label class="control-label">Ver</label>
                            <div>
                                <button class=" btn btn-info" type="button" id="btnVerPerfilCliente">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    {% endif %}
                    {% if field.closerow is defined %}
                        </div>
                        <br>
                        <div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% block buttonsbelow %}
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="float-left col-lg-3 col-md-3 col-sm-3">
                <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                    {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
                </a>
            </div>
            <div class="float-left col-lg-3 col-md-3 col-sm-3">
                <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                    {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                </a>
            </div>
            <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
        </div>
    {% endblock %}
    {{ include('SistemaGymBundle:Form:macro-modalCliente.html.twig') }}
     <script type="text/javascript">
        $("#btnVerPerfilCliente").click(function() {
            verPerfilCompleto({{ entity.cliente.id }});
        });
    </script>
{% endblock %}