{% extends 'MWSimpleAdminCrudBundle:Default:edit.html.twig' %}
{% block form %}
    {% form_theme edit_form 'SistemaGymBundle:Form:form-pago-theme.html.twig' %}
    {{ form(edit_form) }}
    <script src="{{ asset('bundles/sistemagym/js/pagoDetalle.js') }}"></script>

    <script src="{{ asset('bundles/sistemamwsconf/js/addForm.js') }}"></script>

{% endblock %}