{% extends 'MWSimpleAdminCrudBundle:Default:new.html.twig' %}
{% block form %}
    {% form_theme form 'SistemaGymBundle:Form:form-pago-theme.html.twig' %}
    {{ form(form) }}
    <!--codigo para copilar Modal-->
    <script id="hbListCuotasSaldo" type="text/x-handlebars-template">
        {% verbatim  %}
            
        <ul class="list-group">
           {{#each this}}
          <li class="list-group-item">{{ text }}</li>
           {{/each }} 
        </ul>
        {% endverbatim  %}
    </script>
    <script src="{{ asset('bundles/sistemamwsconf/js/addForm.js') }}"></script>

    <script type="text/javascript">

        var $templateListaDeCuotaSaldo;

        $(document).ready(function () {

            var source = $("#hbListCuotasSaldo").html();
            $templateListaDeCuotaSaldo = Handlebars.compile(source);

            $("#buscarCuota").click(function () {  

                $cliente = $("#select2_sistema_gymbundle_pago_cliente").val();

                if($cliente.length == 0){

                    $.pnotify({title: 'Alerta', text: "Seleccione un cliente.", type:  "error"});
                }else{

                    $.blockUI({
                        message: '<h1>Aguarde un momento...</h1><p>En caso de demorar, click con el mouse.</p>',
                        onOverlayClick: $.unblockUI
                    });                      

                    $.ajax({
                        type: "GET",
                        url: Routing.generate('Pago_create_pagos_detalle', {cliente: $cliente}),
                        success: function (array) {


                            if(array['Cuotas'] == 0){

                                // $('#detalleLista').html('<h2><p class="label label-info">No hay cuotas para pagar</p></h2>');
                                $('#detalleLista').html('');
                                $('#totalSaldo').html('');
                                $('#saldoFavor').html('');
                                $.pnotify({title: 'Alerta', text: "El cliente no adeuda cuotas.", type:  "success"});
                            }else{

                                html = $templateListaDeCuotaSaldo(array['Cuotas']);
                                $('#detalleLista').html(html);
                                $('#totalSaldo').html(
                                    '<h4 class="alert alert-info">Total de deuda: $' + array['totalSaldo'] + '.</h4>'
                                );
                            }

                            if(array['saldoFavor'] > 0){

                                $('#saldoFavor').html(
                                    '<h4 class="alert alert-info">Saldo a favor por $' + array['saldoFavor'] + '. Este saldo se usara de forma automatica para pagar las cuotas del cliente una vez creadas.</h4>'
                                );
                            }else{  
                                $('#saldoFavor').html('<h4></h4>');
                            }
                           $.unblockUI();
                            
                        },
                        error: function (data) {
                            $.unblockUI();
                        }
                    });
                }
            });
        });
    </script>

{% endblock %}
{% block buttonsbelow %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="float-left col-lg-3 col-md-3 col-sm-3">
                <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                    {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
                </a>
            </div>
        </div>
    {% endif %}   
{% endblock %}