{% extends 'MWSimpleAdminCrudBundle:Default:index.html.twig' %}

{% block page %}
{% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="label label-info">
                Administraci&oacute;n de pagos
            </h2>
        </div>
    </div>

    <div class="row">
        {{ form_start(form) }}
            <div class="col-lg-2 col-md-3">
                {{ form_errors(form.fecha_dia) }}
                {{ form_label(form.fecha_dia) }}
            </div>
            <div class="col-lg-3 col-md-3">
                {{ form_widget(form.fecha_dia) }}
            </div>
            <div class="col-lg-3 col-md-3">
                {{ form_row(form.save) }}
            </div>
        {{ form_end(form) }}
    </div>

    <table class="table">
        <tr class="active">
            <th>N° de pago</th>
            <th>Monto</th>
            <th>Cliente</th>
            <th>Usuario</th>
        </tr>
        {% set pagoTotal = 0 %}
        {% for pago in pagos %}
            {% set pagoTotal = pagoTotal +  pago.pagoMonto %}
            <tr>
                <td>{{ pago.pagoId }}</td>
                <td>{{ pago.pagoMonto }}</td>
                <td>{{ pago.nombreCliente }}</td>
                <td>{{ pago.nombreUsuario }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if pagoTotal > 0 %}
        <div class="row">
            <h3>El total de los pagos es: ${{ pagoTotal }}</h3>
        </div>
    {% endif %}
{% endblock page %}