{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        h3 { color: blue; }
        h4 { color: white; }
    </style>
{% endblock %}

{% block page %}
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2>Estadísticas</h2>
            </div>

            <div class="panel-body panel-alto">
                <div class="list-group">
                    <div class="list-group-item">
                        <a href="{{ path('estadistica_clientes_asistencias_plan') }}" type="button" class="btn btn-primary btn-sm"><h4>Clientes y Asistencias según Plan</h4></a>
                    </div>
                    <div class="list-group-item">
                        <a href="{{ path('estadistica_clientes_asistencias_plan') }}" type="button" class="btn btn-primary btn-sm"><h4>Clientes y Asistencias según Plan</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page %}