{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block page %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="fa fa-check-square-o"></i> 
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="focusedinput">Elija el plan</label>
                    <div class="col-sm-6">
                        <input type="hidden" id="e8" class="search-query" >
                        <script type="text/javascript">
                            $("#e8").select2({
                                placeholder: "plan...",
                                minimumInputLength: 0,
                                width: '100%',
                                // instead of writing the function to execute the request we use Select2's convenient helper
                                ajax: {
                                    url: "{{ path('ActividadCobro_autocomplete_plan') }}",
                                    dataType: "json",
                                    quietMillis: 250,
                                    data: function(term, page) {
                                        return {
                                            // search term
                                            q: term
                                        };
                                    },
                                    results: function(data, page) {
                                        // parse the results into the format expected by Select2.
                                        // since we are using custom formatting functions we do not need to alter the remote JSON data
                                        return {results: data};
                                    },
                                    cache: true
                                },
                                // we do not want to escape markup since we are displaying html in results
                                escapeMarkup: function(m) {
                                    return m;
                                },
                                dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
                            });
                            $("#e8").on("change", function(e) {
                                actualizarPaneles(e.added.cantidadCliente);
                            });</script>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="inputPassword">Elija rango de fecha</label>
                    <div class="col-sm-6">
                        <div class='col-md-5'>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker9'>
                                    <input type='text' class="form-control" id="fechaInicio"/>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                        <div class='col-md-5'>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker10'>
                                    <input type='text' class="form-control" id="fechaFin"/>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-info btnBuscar">Buscar</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-6">
                    <a class="info-tiles tiles-midnightblue" href="javascript:;">
                        <div class="tiles-heading">
                            <div class="pull-left">Clientes</div>
                            <div class="pull-right"></div>
                        </div>
                        <div class="tiles-body">
                            <div class="pull-left">
                                <i class="fa fa-group"></i>
                            </div>
                            <div class="pull-right" id="cantidadCliente">0</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="info-tiles tiles-primary" href="javascript:;">
                        <div class="tiles-heading">
                            <div class="pull-left">Asistencias</div>
                            <div class="pull-right"></div>
                        </div>
                        <div class="tiles-body">
                            <div class="pull-left">
                                <i class="fa fa-check-square"></i>
                            </div>
                            <div class="pull-right" id="cantAsistencia">-</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 id="tituloAsist"></h3>
                    <table id="tablaAsistencia" class="table table-striped table-bordered datatables dataTable" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info">
                        <thead>
                        <td>Fecha</td>
                        <td>Hora</td>
                        <td>cliente</td>
                        </thead>
                    </table>
                </div>        
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sistemagym/plugins/datatables/css/jquery.dataTables.css') }}">
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/sistemagym/plugins/datatables/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sistemagym/plugins/datatables/js/dataTables.bootstrap.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datetimepicker9').datetimepicker({
                format: 'dd/mm/yyyy',
                minView: 2,
                maxView: 4,
                startView: 4
            });
            $('#datetimepicker10').datetimepicker({
                format: 'dd/mm/yyyy',
                minView: 2,
                maxView: 4,
                startView: 4
            });
            $('.datatables').dataTable({
                "language": {
                    "url": "{{ asset('bundles/sistemagym/js/lang/Spanish.json') }}" ,
                },
                "lengthMenu": [[20, 30, 50, -1], [20, 30, 50, "All"]],
                "sDom": "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
                "sPaginationType": "bootstrap",
            });
            $('.dataTables_filter input').addClass('form-control').attr('placeholder', 'Buscar en la tabla...');
            $('.dataTables_length select').addClass('form-control');
        });
        function actualizarPaneles(_cantidadCliente) {
            $("#cantidadCliente").text(_cantidadCliente);
            $("#cantAsistencia").text("-");
            var arrayNuevo = new Array();
            actualizarTabla("tablaAsistencia", arrayNuevo);
        }

        $(".btnBuscar").click(function() {
            if ($("#e8").val() !== "" && $("#fechaInicio").val() !== "" && $("#fechaFin").val() !== "") {
                $.ajax({
                    type: "POST",
                    url: "{{ path('Asistencia_plan_rangoFecha') }}",
                    data: {plan: $("#e8").val(), fechaInicio: $("#fechaInicio").val(), fechaFin: $("#fechaFin").val()},
                    success: function(array) {
                        $("#cantAsistencia").text(array[1][0].cantidad);
                        var arrayNuevo = new Array();
                        arrayNuevo = obtenerArray(array[0]);
                        actualizarTabla("tablaAsistencia", arrayNuevo);
                    },
                    error: function(data) {
                        mostrarMensaje("Error al actualizar", "error");
                    }
                });
            } else {
                mostrarMensaje("Complete el rango de fecha y elija un plan", "error");
            }
        });
        function obtenerArray(array) {
            var arr = new Array();
            $.each(array, function(key, obj) {
                var arr2 = new Array();
                $.each(obj, function(k, value) {
                    arr2.push(value)
                });
                arr.push(arr2)
            });
            return arr;
        }
        function mostrarMensaje(_texto, _tipo) {
            $.pnotify({title: 'Alerta', text: _texto, type: _tipo});
        }
        function actualizarTabla(idtabla, array) {
            $('#' + idtabla).dataTable().fnDestroy();
            $('#' + idtabla).dataTable({
                "language": {
                    "url": "{{ asset('bundles/sistemagym/js/lang/Spanish.json') }}" ,
                },
                "lengthMenu": [[20, 30, 50, -1], [20, 30, 50, "All"]],                                    
                "bRetrieve": true,
                "bProcessing": true,
                "data": array,
                "sDom": "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
                "sPaginationType": "bootstrap",
            });
            $('.dataTables_filter input').addClass('form-control').attr('placeholder', 'Buscar en la tabla...');
            $('.dataTables_length select').addClass('form-control');
        }
        function actualizarSessionGim(gim) {
            $.ajax({
                type: "POST",
                url: "{{ path('Gimnasio_actualizar_session') }}",
                data: {id: gim},
                success: function(array) {

                },
                error: function(data) {
                    mostrarMensaje("Error al actualizar", "error");
                }
            });
        }
    </script>
{% endblock %}