{% extends 'MWSimpleAdminCrudBundle:Default:index.html.twig' %}

{% block page %}

	<style>

		h3 {
			color: blue;
		}

		h4 {
			text-decoration: underline;
		}
	</style>

	<div class="col-lg-12 col-md-12 col-sm-12">
	    <div class="panel panel-success">
	        <div class="panel-heading">
	            <h2>Instructivo para el uso del sistema de gimnasios</h2>
	        </div>

	        <div class="panel-body panel-alto">
	            <div class="list-group">
	                <div class="list-group-item" style="text-align:center;">
	                <h4>Documento de ayuda</h4>
	            		En este documento se explica como es el correcto uso del sistema para que Ud. 
	            		y sus empleados puedan utilizarlo de manera correcta.
					</div>
					{% if is_granted('ROLE_ADMIN') %}
	                <div class="list-group-item">
	                <h3>Gimnasios</h3>
						Sección dedicada a la administración de gimnasios. Se tiene un listado de gimnasios compuesto por el nombre, el propietario o usuario que lo creo, si el gimnasio está activo para usarse o no, y acciones que pueden realizar sobre los gimnasios como editar, o ver un detalle más completo de los mismos.
					</div>
					
					<div class="list-group-item">
					<h3>Administracion de gimnasios</h3>
						Cómo administrar gimnasios: A través de los botones de cabecera, el usuario administrador puede exportar un listado de sus gimnasios en varios formatos (botón celeste), filtrar sus gimnasios para tener un listado de ciertos gimnasios (botón azul), limpiar los filtros para tener denuevo el listado general (Botón rojo), y crear gimnasios a traves del boton verde.
					</div>
					
					<div class="list-group-item">
					<h3>Actividades</h3>
						Administración de actividades para su gimnasio. En esta seccion podra crear actividades para que asignarles a sus clientes. Cada actividad tiene una cantidad de días a realizarse en la semana con un horario, un costo, un plan ligado.
					</div>
					
					<div class="list-group-item">
					<h3>Plan</h3>
						Los planes seran los conjuntos de actividades, horarios, y costos que Ud. le otorgara a sus clientes por parte de su gimnasio. Debera inscribir a sus clientes a estos planes, y lo puede hacer desde el menu de Planes en el menu izquierdo, pero tambien lo puede hacer desde la propia creacino del cliente en el menu Cliente. 
					</div>
					{% endif %}
					<div class="list-group-item">
						<h3>Clientes</h3>
						En esta sección se administran los clientes de sus gimnasios. Se accede a un listado de los clientes detallando a cual de sus gimnasios pertenece cada cliente, y sus datos personales (nombre, apellido, correo electrónico). Por último en el listado se encuentran 2 botones de acción, el primero con imagen de lupa para ir a una pantalla donde se muestran más datos del cliente, y el segundo con imagen de cuaderno para editar dichos datos.
					</div>
					<div class="list-group-item">
						<strong>Cuenta Corriente: </strong>Esta opcion se encuentra en cada registro de cliente que se encuentra en la seccion cliente. Es opcion te lleva a otra seccion donde se detallan todas las cuotas de un cliente en especifico, junto con sus correspondientes pagos si es que la cuota esta total o parcialmente pagada. Guiandose por esta seccion el usuario puede saber facil y rapido, si es que el cliente adeuda y cuanto.
					</div>
					<div class="list-group-item">
					<h3>Inscripción</h3>
						Una vez que haya cargado sus clientes en el sistema, ya los puede inscribir a un plan que haya creado previamente junto con el dia de cobro para la inscripción. Una inscripcion se componer de un cliente que pertecene al gimnasio que Ud. esta usando, una fecha de inicio de inscripcion para poder cobrar en determinada fecha, y un plan de los que Ud. ha cargado en el sistema previamente.
					</div>
					
					<div class="list-group-item">
					<h3>Asistencias</h3>
						La sección de asistencia es muy completa, muestra una lista de sus clientes con sus respectivas actividades y por cada cliente en la lista hay un botón que muestra las asistencias de cada uno. Las asistencias se toman por medio del botón con imagen de lápiz que se encuentra al final de la lista por cada cliente.
					</div>
					<div class="list-group-item">
						Las asistencias se muestran en un calendario en la parte inferior izquierda de la sección, el mismo tiene botones en su parte superior para poder ver las asistencia del cliente seleccionado de la lista por mes, por semana y por dia.
					</div>
					<div class="list-group-item">
						En la parte inferior derecha, se encuentra una lista de las asistencias del cliente para poder revisarlas en hora y fecha. Las mismas también pueden ser eliminadas mediante el listado.	
					</div>
					{% if is_granted('ROLE_ADMIN') %}
					<div class="list-group-item">															
					<h3>Cuotas</h3>
						En esta sección se muestran las cuotas que deben pagar los clientes a partir de sus asistencias.
						Las cuotas se pueden mostrar de varias formas a través de las pestañas que tiene la sección:
						Se pueden mostrar todas las cuotas con sus respectivos clientes, su plan, fecha de vencimiento, costo o también se pueden mostrar por mes, por un cliente específico, y también se tiene acceso a un historial de la cuotas. Una vez que se tiene la vista adecuada de las cuotas que se quieren generar, se las crea mediante el botón “Crear Cuota”.
					<div class="list-group-item">
						Las cuotas se pueden visualizar de 3 formas distintas dependiendo de como desee informarse acerca de las cuotas no pagas del gimnasio:<br>
						
						<strong>Todas las cuotas: </strong>La primera pestaña muestra todas las cuotas que pertenecen al gimnasio que se esta administrando.<br>

						<strong>Por Mes: </strong>En esta pestaña se pueden visualizar todas las cuotas que se adeudan de un mes en particular, o todas las que se adeudan hasta ese mes.<br>

						<strong>Cuotas vencidas: </strong>Esta pestaña solo mostrara las cuotas que estan vencidas en su gimnasio activo, es decir las que tengan ya hayan pasado su periodo de tiempo para pagarse.<br>
					</div>				
					</div>
					<div class="list-group-item">
					<h3>Cobros</h3>
						La sección cobros es la encargada de administrar los cobros correspondientes a las cuotas que se generan para los clientes del gimnasio. En esta sección se pueden asentar los pagos que los cliente realizará según los planes a los que esté suscrito. Los pagos para los planes se puede realizar de forma completa, parcial, o incluso se puede pagar un monto que supere la deuda del cliente con el gimnasio, esto ultimo daria como resultado que el cliente tenga saldo a favor con el negocio.<br><br>
						<strong>Saldo a favor: </strong>Si el cliente tiene saldo a favor la proxima cuota que tenga que abonar ya tendra un monto pagado por parte del saldo a favor.
					</div>				
					<div class="list-group-item">
					<h3>Personal</h3>
						Ud. puede administrar en esta seccion su personal a cargo del gimnasio que esta administrando actualmente. Puede crear personal, modificarlo, eliminarlo del sistema y tambien tiene acceso a una ficha completa con sus datos personales.
					
					<div class="list-group-item">
						Un empleado con el rol de personal puede administrar las siguientes areas:<br><br>

						<strong>Clientes:</strong> El usuario empleado puede registrar clientes en el sistema, y asignarles planes de actividades.<br>

						<strong>Inscripciones:</strong> Puede inscribir a los cliente a mas planes luego de registrarlos en esta seccion.<br>

						<strong>Asistencias:</strong> Tomará asistencias a los clientes del gimnasio registrando su hora de llegada.<br>

						<strong>Cuotas:</strong> Creara cuotas a los cliente del gimnasio que esten en fecha de cobro.<br>

						<strong>Pagos:</strong> Una vez creadas las cuotas y una vez que los clientes puedan pagarlas, el usuario empleado podra registrar el pago de la cuota en esta seccion.<br>
					</div>
					</div>			
					<div class="list-group-item">
					<h3>Estadísticas</h3>
						Controla las asistencias que tiene los clientes en determinados planes que Ud. puede elegir segun los planes activos del gimnasio. Segun un rango de fecha, Ud. puede ver las asistencias de los clientes entre las fechas escogidas previamente.
					</div>
					
					<div class="list-group-item">
					<h3>Preferencias</h3>
						En esta seccion del sistema, Ud. puede configurar sus preferencias para el sistema. En otras palabras el sistema operara como a Ud. le parezca en algunos aspectos que pueden ser configurables a sus necesidades.
						Preferencias
						<br>
						<br>
						Funciones modificables que maneja la sección :
						<br>
						<br>
						    <strong>- Asistencia rápida con información de cliente:</strong> Se puede configurar el botón de asistencia para que otorgue información del cliente al que se le quiere tomar asistencia mediante un cuadro que dicta los planes a los que está suscrito el cliente.
						<br>
						<br>
						    <strong>- Configuración de generación de cuotas automáticas:</strong> Esta opción puede tomar 1 de 2 preferencias según el usuario. En la primera forma las cuotas se generan de manera automática para todos los cliente del gimnasio actual para el mes corriente, sin importar el dia en el que se generan las cuotas. La otra forma que el usuario puede elegir para la generación de cuotas generará las cuotas del mes corriente para todos los cliente del gimnasios, pero solo para los que tengan que pagar segun el dia de cobro de sus planes.
					</div>
					{% endif %}
					<div class="list-group-item">
					<h3>Crear y pagar, cuotas</h3>
						Tanto <strong>Crear cuota</strong> como <strong>Pagar cuota</strong>, son items que del menu que facilitan el acceso a seccion para la creacion de cuota y de pagos para poder generar cuotas y pagos de manera rapida.
					</div>	
					<div class="list-group-item">
						<h3>Boton de acciones rapidas</h3>
						Sobre los items del menu principal de la izquierda se pueden obserbar 2 botones con los que se pueden realizar acciones rapidas sobre los clientes, sus asistencias y saber de manera rapida el estado de su cuenta con el gimnasio.
						<br>
						<br>
						<strong>- Boton de Asistencia:</strong>Este boton le otorga al usuario una vista rapida sobre los planes y actividades que realiza algun cliente del gimnasio. Tambien le otorga la posibilidad de dar una asistencia en cualquiera de esas actividades.		
						<br>
						<br>
						<strong>- Boton de Informacion de cuenta:</strong> Este boton le otorga al usuario una vista sobre las cuotas que adeuda el cliente con el gimnasio, un detalle de cada una, y un total a pagar que seria la suma de todas las cuotas. Se puede ver informacion de que plan es cada cuota y se muestra empezando por la mas antigua primero.
						{% if is_granted('ROLE_ADMIN') %}
						<br>
						<br>
						<strong>- Boton de Pagos diarios:</strong> Este boton lleva a una seccion que detalla los pagos que se han relizado en el dia actual. Tambien tiene la opcion, mediante un selector de fecha, poder elegir una fecha en particular para saber los pagos que se realizaron en esa fecha.
						{% endif %}
					</div>
                </div>
            </div>
        </div>
	{#         <div class="panel-footer">
	            {% if descargar == true %}
	                <a href="{{ path('formulario_instructivo') }}" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-download"></span> Descargar Instructivo</a>
	            {% endif %}
	        </div>
	 #}    
	</div>
{% endblock page %}