{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block page %}
	<div class="col-lg-6 col-md-6 col-sm-6">
	    <div class="panel panel-success">
			<h4>Servicio al que Ud. esta suscripto: <strong>{{ user.getServicio() }}</strong></h4>
			<h4>Fecha de vencimiento de su servicio:<strong>{{ user.getFechaFinServicio()|date('d-m-Y') }}</strong></h4>
		</div>
	</div>
{% endblock %}
