{% extends 'MWSimpleAdminCrudBundle:Default:index.html.twig' %}

{% block page %}

	<style>

		h3 {
			color: blue;
		}

		h4 {
			text-decoration: underline;
		}
	</style>

	<div class="col-lg-12 col-md-12 col-sm-12">
	    <div class="panel panel-success">
	        <div class="panel-heading">
	            <h2>Instructivo para el uso del sistema de gimnasios</h2>
	        </div>

	        <div class="panel-body panel-alto">
	            <div class="list-group">
	                <div class="list-group-item" style="text-align:center;">
	                <h4>Documento de ayuda</h4>
	            		En este documento se muestra como es desarrolla el correcto uso del sistema para que Ud. 
	            		y sus empleados puedas hacer uso adecuado del mismo.
					</div>

	                <div class="list-group-item">
	                <h3>Gimnasios</h3>
						Sección dedicada a la administración de gimnasios. Se tiene un listado de gimnasios compuesto por el nombre, el propietario o usuario que lo creo, si el gimnasio está activo para usarse o no, y acciones que pueden realizar sobre los gimnasios como editar, o ver un detalle más completo de los mismos.
					</div>
					
					<div class="list-group-item">
					<h3>Administracion de gimnasios</h3>
						Cómo administrar gimnasios: A través de los botones de cabecera, el usuario administrador puede exportar un listado de sus gimnasios en varios formatos (botón celeste), filtrar sus gimnasios para tener un listado de ciertos gimnasios (botón azul), limpiar los filtros para tener denuevo el listado general (Botón rojo), y crear gimnasios a traves del boton verde.
					</div>
					
					<div class="list-group-item">
					<h3>Actividades</h3>
						Administración de actividades para su gimnasio. En esta seccion podra crear actividades para que asignarles a sus clientes. Cada actividad tiene una cantidad de días a realizarse en la semana con un horario, un costo, un plan ligado.
					</div>
					
					<div class="list-group-item">
					<h3>Plan</h3>
						Los planes seran los conjuntos de actividades, horarios, y costos que Ud. le otorgara a sus clientes por parte de su gimnasio. Debera inscribir a sus clientes a estos planes, y lo puede hacer desde el menu de Planes en el menu izquierdo, pero tambien lo puede hacer desde la propia creacino del cliente en el menu Cliente. 
					</div>

					<div class="list-group-item">
						<h3>Clientes</h3>
						En esta sección se administran los clientes de sus gimnasios. Se accede a un listado de los clientes detallando a cual de sus gimnasios pertenece cada cliente, y sus datos personales (nombre, apellido, correo electrónico). Por último en el listado se encuentran 2 botones de acción, el primero con imagen de lupa para ir a una pantalla donde se muestran más datos del cliente, y el segundo con imagen de cuaderno para editar dichos datos.						
					</div>
					
					<div class="list-group-item">
					<h3>Inscripción</h3>
						Una vez que haya cargado sus clientes en el sistema, ya los puede inscribir a un plan que haya creado previamente junto con el dia de cobro para la inscripción. Una inscripcion se componer de un cliente que pertecene al gimnasio que Ud. esta usando, una fecha de inicio de inscripcion para poder cobrar en determinada fecha, y un plan de los que Ud. ha cargado en el sistema previamente.
					</div>
					
					<div class="list-group-item">
					<h3>Asistencias</h3>
						La sección de asistencia es muy completa, muestra una lista de sus clientes con sus respectivas actividades y por cada cliente en la lista hay un botón que muestra las asistencias de cada uno. Las asistencias se toman por medio del botón con imagen de lápiz que se encuentra al final de la lista por cada cliente.
					</div>
					<div class="list-group-item">
						Las asistencias se muestran en un calendario en la parte inferior izquierda de la sección, el mismo tiene botones en su parte superior para poder ver las asistencia del cliente seleccionado de la lista por mes, por semana y por dia.
					</div>
					<div class="list-group-item">
						En la parte inferior derecha, se encuentra una lista de las asistencias del cliente para poder revisarlas en hora y fecha. Las mismas también pueden ser eliminadas mediante el listado.	
					</div>
					
					<div class="list-group-item">																		
					<h3>Cuotas</h3>
						En esta sección se muestran las cuotas que deben pagar los clientes a partir de sus asistencias.
						Las cuotas se pueden mostrar de varias formas a través de las pestañas que tiene la sección:
						Se pueden mostrar todas las cuotas con sus respectivos clientes, su plan, fecha de vencimiento, costo o también se pueden mostrar por mes, por un cliente específico, y también se tiene acceso a un historial de la cuotas. Una vez que se tiene la vista adecuada de las cuotas que se quieren generar, se las crea mediante el botón “Crear Cuota”.						
					</div>
					
					<div class="list-group-item">
					<h3>Personal</h3>
						Ud. puede administrar en esta seccion su personal a cargo del gimnasio que esta administrando actualmente. Puede crear personal, modificarlo, eliminarlo del sistema y tambien tiene acceso a una ficha completa con sus datos personales.
					</div>

					<div class="list-group-item">
					<h3>Estadísticas</h3>
						Controla las asistencias que tiene los clientes en determinados planes que Ud. puede elegir segun los planes activos del gimnasio. Segun un rango de fecha, Ud. puede ver las asistencias de los clientes entre las fechas escogidas previamente.
					</div>
					
					<div class="list-group-item">
					<h3>Preferencias</h3>
						En esta seccion del sistema, Ud. puede configurar sus preferencias para el sistema. En otras palabras el sistema operara como a Ud. le parezca en algunos aspectos que pueden ser configurables a sus necesidades.
					</div>					
                </div>
            </div>
        </div>
	{#         <div class="panel-footer">
	            {% if descargar == true %}
	                <a href="{{ path('formulario_instructivo') }}" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-download"></span> Descargar Instructivo</a>
	            {% endif %}
	        </div>
	 #}    
	</div>
{% endblock page %}