<!-- Custom CSS -->
<!-- Page Content -->
<div class="container" style="background-color: #555555">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h2>Ventajas del Sistema</h2>
            <h3>El objetivo del Sistema PRO Gestion es brindar una administración sutil y eficaz de los clientes y personales de un gimnasio al mismo dueño o gerente, con la posibilidad de múltiples herramientas.</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Menu -->
    <div class="row">
        <div class="col-md-7 text-center">
            <a href="#">
                <img src="{{ asset('bundles/sistemagym/front/images/footer/menu.png') }}" 
                     style="border-radius: 20px;" class="img-rounded" height="300" />
            </a>
        </div>
        <div class="col-md-5">
            <h3>Menú</h3>
            <h4>Organice su Gimnasio con la lista de opciones disponibles:</h4>
            <ul>
              <li><strong>Gimnasios,</strong><em> cree uno o mas gimnasios y de soporte.</em></li>
              <li><strong>Personal,</strong><em> administradores físicos del gimnasio.</em></li>
              <li><strong>Actividades,</strong><em> que realiza el personal con planes y días semanales.</em></li>
              <li><strong>Clientes,</strong><em> personas que asisten al gimnasio.</em></li>
              <li><strong>Inscripción,</strong><em> inscriba a clientes a sus correspondientes actividades, genere cuotas automáticamente, cobre sus ingresos.</em></li>
              <li><strong>Asistencias,</strong><em> controle sus clientes.</em></li>
              <li><strong>Plan,</strong><em> cree diferentes planes mensuales, semanales o diarios.</em></li>
              <li><strong>Cuotas,</strong><em> controle si su cliente esta al día.</em></li>
              <li><strong>Estadísticas,</strong><em> consulte todo el movimiento de su gimnasio.</em></li>
            </ul>
        </div>
    </div>
    <!-- /.Menu -->
    <hr>

    <!-- Listado -->
    <div class="row">
        <div class="col-md-5">
            <h3>Listado</h3>
            <h4>Organice su Gimnasio con la lista generica de elementos ordenados por campos:</h4>
            <ul>
              <li><strong>Crear</strong></li>
              <li><strong>Editar</strong></li>
              <li><strong>Ver</strong></li>
              <li><strong>Exportar,</strong><em> PDF - DOC - DOCX - CSV.</em></li>
              <li><strong>Filtros</strong></li>
              <li><strong>Limpiar,</strong><em> vuelve el filtro a la versión por defecto.</em></li>
            </ul>
        </div>
        <div class="col-md-7 text-center">
            <a href="#">
                <img src="{{ asset('bundles/sistemagym/front/images/footer/listado.png') }}" style="border-radius: 20px;" class="img-rounded" height="200"/>
            </a>
        </div>
    </div>
    <!-- /.Listado -->
    <hr>

    <!-- Carga de Clientes -->
    <div class="row">
        <div class="col-md-7 text-center">
            <a href="#">
                <img src="{{ asset('bundles/sistemagym/front/images/footer/creacion-edicion.png') }}" style="border-radius: 20px;" class="img-rounded" height="200"/>
            </a>
        </div>
        <div class="col-md-5">
            <h3>Carga de Clientes, Personales</h3>
            <h4>Coloque los datos en orden de importancia. Por ejemplo, agregue una imagen de perfil o un mail de contacto, algún comentario, teléfonos y domicilios, DNI.</h4>
        </div>
    </div>
    <!-- /.Carga de Clientes -->
    <hr>

    <!-- Estadisticas -->
    <div class="row">
        <div class="col-md-5">
            <h3>Estadisticas Generales</h3>
            <h4>Realice un seguimiento de su negocio con las informaciones más relevantes. Consulte por Fecha, Hora, Planes o hasta Clientes.</h4>
        </div>
        <div class="col-md-7 text-center">
            <a href="#">
                <img src="{{ asset('bundles/sistemagym/front/images/footer/estadisticas.png') }}" style="border-radius: 20px;" class="img-rounded" width="550" height="200"/>
            </a>
        </div>
    </div>
    <!-- /.Estadisticas -->
    <hr>

</div>
<!-- /.container -->