<!DOCTYPE html>
<html>
<head>
    
    <title>GymTecspro</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="gym.tecspro.com.ar">
    <meta name="author" content="TECSPRO">
    {# CSS IMPORTS #}
    <link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/sistemagym/front/css/stylecustom.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/sistemagym/front/css/coin-slider.css') }}" rel="stylesheet" type="text/css">
    {# JS IMPORTS #}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemagym/front/js/script.js') }}"></script>
    <script src="{{ asset('bundles/sistemagym/front/js/coin-slider.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemagym/js/less.js') }}"></script>
    
    <link rel="shortcut icon" href="{{ asset('bundles/mwsimpleadmincrud/img/favicon.ico') }}">
    
    {% block stylesheets %}{% endblock %}
    
    <!-- Smartsupp Live Chat script -->
    <script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = '1f75c9e3871322fc1189a424551e6166f932dd4d';
    window.smartsupp||(function(d) {
       var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
       s=d.getElementsByTagName('script')[0];c=d.createElement('script');
       c.type='text/javascript';c.charset='utf-8';c.async=true;
       c.src='//www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
    })(document);
    </script>

</head>

{% block body %}
<body>
{% endblock body %}
<div class="main">
    <div class="header">
        <div class="header_resize">
            
            {% block menu %}
                <div class="menu_nav">
                    <ul>
                        <li class="active">
                            <a href="{{ path('homepage') }}">
                                <span>Inicio</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin_gimnasio') }}">
                                <span>Ingresar</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_registration_register') }}">
                                <span>Registrarme</span>
                            </a>
                        </li>
                        <li>
                            <a href="#gimnasios">
                                <span>Gimnasios</span>
                            </a>
                        </li>
                        <li>
                            <a href="#contactanos">
                                <span>Contactanos</span>
                            </a>
                        </li>
                    </ul>
                </div>
            {% endblock menu %}

            <div class="searchform" style="color: #ffffff; font-size: 25px;">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a class="btn" href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% endif %}
            </div>

            <div class="logo">
                <h1>
                    <a href="{{ path('homepage') }}">
                        Gym
                        <span>Tecspro</span>
                        <small>Sistema web para gimnasios</small>
                    </a>
                </h1>
            </div>

            {# CARROUSEL #}
            {% block slider %}
                <div class="slider">
                    <div id="coin-slider">
                        <a href="#">
                            <img src="{{ asset('bundles/sistemagym/front/images/slide1.jpg') }}" width="960" height="360" alt="" />
                        </a>
                        <a href="#">
                            <img src="{{ asset('bundles/sistemagym/front/images/slide2.jpg') }}" width="960" height="360" alt="" />
                        </a>
                        <a href="#">
                            <img src="{{ asset('bundles/sistemagym/front/images/slide3.jpg') }}" width="960" height="360" alt="" />
                        </a>
                        <a href="#">
                            <img src="{{ asset('bundles/sistemagym/front/images/slide4.jpg') }}" width="960" height="360" alt="" />
                        </a>
                        <a href="#">
                            <img src="{{ asset('bundles/sistemagym/front/images/slide5.jpg') }}" width="960" height="360" alt="" />
                        </a>
                        <a href="#">
                            <img src="{{ asset('bundles/sistemagym/front/images/slide6.jpg') }}" width="960" height="360" alt="" />
                        </a>
                        <a href="#">
                            <img src="{{ asset('bundles/sistemagym/front/images/slide7.jpg') }}" width="960" height="360" alt="" />
                        </a>
                        <a href="#">
                            <img src="{{ asset('bundles/sistemagym/front/images/slide8.jpg') }}" width="960" height="360" alt="" />
                        </a>
                    </div>
                </div>
            {% endblock slider %}

        </div>
    </div>
</div>
    
{% include 'SistemaGymBundle::content.html.twig' %}
    

  <div class="fbg">
    <div class="fbg_resize">
        <div class="sidebar">{% block sidebar %}{% endblock sidebar %}</div>
      
      <div id="contactanos" class="col c3">
        <h2><span>Contactanos</span></h2>
        <p></p>
        <p class="contact_info">
          <span>E-mail:</span><a href="mailto:contacto@tecspro.com.ar">contacto@tecspro.com.ar</a></p>
      </div>
      <div class="clr"></div>
    </div>
  </div>

    <div class="footer">
        <div class="footer_resize">
            <p class="lf">Copyright &copy; <a href="#">www.gym.tecspro.com.ar</a>. Todos los derechos Reservados</p>
            <p class="rf">Design by <a target="_blank" href="http://www.dreamtemplate.com/">DreamTemplate</a></p>
            <p class="rf">Desarrollado por <a target="_blank" href="http://www.tecspro.com.ar">Tecspro</a>&nbsp;-&nbsp;</p>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
{% block FOS %}{% endblock FOS %}
</body>
</html>