{% extends "SistemaGymBundle::layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/sistemagym/css/styles.min.css?=113') }}">
{% endblock %}

{% block body %}
<body class="focusedform">
{% endblock body %}

{% block FOS %}
<style type="text/css">
    .main {
        opacity: 0.20 !important;
    }
</style>
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
            <script>
                smartsupp('email', '{{ app.user.email }}');
                smartsupp('name', '{{ app.user.username }}');
            </script>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>
    <div class="verticalcenter">
        <div class="panel panel-primary">
            <div class="panel-body">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <div>
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                </div>
            </div>
        </div>
    </div>
{% endblock FOS %}