{% extends 'MWSimpleAdminCrudBundle:Default:index.html.twig' %}

{% block page %}
    <div id="mostrarinfor"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>{{ 'views.index.list'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}</h3>
                </div>

                <div class="panel-body">
                    <table id="example" class="table table-striped table-bordered datatables dataTable" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info">
                        <thead>
                            <tr>
                                <th class="col-xs-9 col-sm-3">Cliente</th>
                                <th class="col-sm-5 hidden-xs">Actividades</th>
                                <th class="col-xs-2 col-sm-2">Mostrar Asistencias</th>
                                <th class="col-xs-3 col-sm-2">Tomar Asistencia</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>
                                        <a class="cliente" id="cliente{{entity.id}}" 
                                           href="javascript:;" data-id="{{entity.id}}">
                                            <i class="glyphicon glyphicon-user tooltips" 
                                               data-original-title="" title="">
                                            </i>
                                        </a>
                                        <div id="clienteNombre{{entity.id}}" style="display:inline"> 
                                            {{entity.nombre|title }}&nbsp;{{entity.apellido|title }}
                                        </div>
                                    </td>

                                    <td>
                                        <select id="selectCliente{{entity.id}}" data-id="{{entity.id}}" 
                                                class="form-control actividadCobro">
                                            <optgroup>
                                                {% for act in entity.actividadCobros %}
                                                    <option value="{{act.id}}">
                                                        Actividad:&nbsp{{act.plan.actividad}}
                                                        &nbsp;-&nbsp;Plan:&nbsp{{act.plan.nombre}}
                                                        &nbsp;-&nbsp;Dias semanales:&nbsp;
                                                        {{act.plan.cantidadDiasSemana}}
                                                    </option>
                                                {% endfor %}
                                            </optgroup>
                                        </select>
                                    </td>

                                    <td>
                                        <button class="btn btn-sm btn-primary btnBuscarAsistencia" data-id="{{entity.id}}">
                                            <i class=" fa fa-calendar"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-green btnCrearAsistencia"  data-id="{{entity.id}}">
                                            <i class=" fa fa-pencil"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="row">
                        <h3 id="tituloAsistencia"></h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-brown">
                                <div class="panel-heading">
                                    <h4>
                                        <i class="icon-highlight fa fa-calendar"></i>
                                        Calendario
                                    </h4>
                                </div>
                                <div id="calendario" class="panel-body">
                                    <div id='calendario'></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4>
                                        <i class="icon-highlight fa fa-check"></i>
                                        Asistencias
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <table id="tablaAsistencia" class="table table-striped table-bordered datatables dataTable" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info">
                                        <thead>
                                        <td>Id</td>
                                        <td>Fecha</td>
                                        <td>Hora</td>
                                        <td>Accion</td>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalCrearAsistencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Crear Asistencia</h4>

                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <label class="col-sm-3 control-label" for="datepicker">Fecha</label>
                        <div class="col-sm-6">
                            <input id="datepicker" class="form-control" type="text">
                        </div>
                    </form>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnAceptarAsistencia">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    {{ include('SistemaGymBundle:Form:macro-modalCliente.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sistemagym/plugins/datatables/css/jquery.dataTables.css') }}">
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/sistemagym/plugins/datatables/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sistemagym/plugins/datatables/js/dataTables.bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sistemagym/plugins/fullcalendar/fullcalendar.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $idCliente = 0;
        $(document).ready(function () {
            $("#datepicker").datetimepicker({
                format: 'dd/mm/yyyy hh:ii',
                maxView: 2
            });
            $(".actividadCobro").change(function () {

                actCobro = $(this).val();
                console.log($(this).val());
                buscarAsitenciaByActividad($(this).data('id'), $(this).val());
            });

            $(".btnBuscarAsistencia").click(function () {
                var id = $(this).data('id');
                $("#tituloAsistencia").html("Asistencia de " + $("#clienteNombre" + id).text());
                buscarAsitenciaByActividad(id);
                $('html, body').animate({
                    scrollTop: $("#tituloAsistencia").offset().top
                }, 2000);
            });
            $('.datatables').dataTable({
                "language": {
                    "url": "{{ asset('bundles/sistemagym/js/lang/Spanish.json') }}",
                },
                "lengthMenu": [[20, 30, 50, -1], [20, 30, 50, "All"]],
                "sDom": "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
                "sPaginationType": "bootstrap",
            });
            $('.dataTables_filter input').addClass('form-control').attr('placeholder', 'Buscar en la tabla...');
            $('.dataTables_length select').addClass('form-control');
        });
        function actualizarTabla(idtabla, array) {
            $('#' + idtabla).dataTable().fnDestroy();
            $('#' + idtabla).dataTable({
                "language": {
                    "url": "{{ asset('bundles/sistemagym/js/lang/Spanish.json') }}",
                },
                "lengthMenu": [[20, 30, 50, -1], [20, 30, 50, "All"]],
                "bRetrieve": true,
                "bProcessing": true,
                "aaData": array,
                "aoColumns": [
                    {"mDataProp": "id"},
                    {"mDataProp": "fecha"},
                    {"mDataProp": "hora"},
                ],
                "aoColumnDefs": [
                    {
                        "mRender": function (data, type, row) {
                            var acciones = "";
                            var array = [
                               '<a  href="javascript:;" title="Eliminar" onClick="EliminarAsistencia(' + row.id + ')" data-toggle="tooltip" data-placement="top" ><span class="glyphicon glyphicon-trash"></span></a>',
                            ];
                            acciones = array.join("");
                            return acciones;
                        },
                        "aTargets": [3]
                    },
                    {
                        "targets": [0],
                        "visible": false
                    },
                ],
            });
            $('.dataTables_filter input').addClass('form-control').attr('placeholder', 'Buscar en la tabla...');
            $('.dataTables_length select').addClass('form-control');

        }
        $(".cliente").click(function () {
            verPerfilCompleto($(this).data('id'));
        });
        function EliminarAsistencia(_id) {
            bloquearPantalla();
            $.ajax({
                type: "POST",
                url: "{{ path('Asitencia_eliminar_byActividadCobroFecha') }}",
                data: {id: _id},
                success: function (array) {
                    if (array["resultado"] === true) {
                        mostrarMensaje("Asistencia Eliminada", "success");
                        dibujarCalendario(array["calendario"]);
                        actualizarTabla("tablaAsistencia", array["asistencias"]);
                        {#var countCuotas ={{app.session.get('countCuotas')}} ;
                                countCantidadCuotas(countCuotas - 1);#}
                    } else {
                        mostrarMensaje("Error al eliminar", "error");
                    }
                    $.unblockUI();
                },
                error: function (data) {
                    mostrarMensaje("Error al eliminar", "error");
                    $.unblockUI();
                }
            });
        }
        function buscarAsitenciaByActividad(_id) {

            bloquearPantalla();
            $.ajax({
                type: "POST",
                url: "{{ path('Asistencia_by_cliente_actividadCobro') }}",
                data: {idCliente: _id},
                success: function (array) {
                    dibujarCalendario(array["calendario"]);
                    actualizarTabla("tablaAsistencia", array["asistencias"]);
                    $.unblockUI();
                },
                error: function (data) {
                    mostrarMensaje("Error al actualizar", "error");
                    $.unblockUI();
                }
            });
        }
        function bloquearPantalla() {
            $.blockUI({
                message: '<h1>Aguarde un momento...</h1><p>En caso de demorar, click con el mouse.</p>',
                onOverlayClick: $.unblockUI
            });
        }
        function dibujarCalendario(_array) {
            if (_array !== null) {
                var actividad = new Array();
                var array = new Array();
                var c = 0;
                for (i = 0; i < _array.length; i++) {
                    actividad = new Array();
                    actividad["title"] = "Asisitio " + _array[i].cantidad + " veces";
                    actividad["start"] = new Date(_array[i].anio, _array[i].mes - 1, _array[i].dia, 0, 0, 0, 0);
                    actividad["backgroundColor"] = '#2bbce0';
                    array[c] = actividad;
                    c++;
                }

                $('#calendario').removeData('fullCalendar').empty();
                $('#calendario').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay'
                    },
                    lang: "es",
                    events: array,
                    editable: false,
                    eventLimit: true,
                    buttonText: {
                        prev: '<i class="fa fa-angle-left"></i>',
                        next: '<i class="fa fa-angle-right"></i>',
                        prevYear: '<i class="fa fa-angle-double-left"></i>', // <<
                        nextYear: '<i class="fa fa-angle-double-right"></i>', // >>
                        today: 'Today',
                        month: 'Month',
                        week: 'Week',
                        day: 'Day'
                    },
                });
            }
        }

        $(".btnCrearAsistencia").click(function () {

            $idCliente = $(this).data('id');            
            $('#modalCrearAsistencia').modal('show');
        });

        $("#btnAceptarAsistencia").click(function () {
            if ($("#datepicker").val() !== "") {
                $("#btnAceptarAsistencia").attr('disabled', true);

                var actCobro = $("#selectCliente" + $idCliente).val();
                
                $.ajax({
                    type: "POST",
                    url: "{{path('crear_asistencia_by_ajax')}}",
                    data: {
                        fecha: $("#datepicker").val(), 
                        idCliente: $idCliente, 
                        idActividadCobro: actCobro
                    },
                    success: function (data) {

                        $("#btnAceptarAsistencia").attr('disabled', false);

                        if (data.resultado === true) {

                            mostrarMensaje("Asistencia Creada", "success");
                            $('#modalCrearAsistencia').modal('hide');
                            buscarAsitenciaByActividad($("#hiActCobro").val());
                        } else {

                            mostrarMensaje(data.mensaje, "error");
                        }

                        $("#datepicker").val("");
        {# var countCuotas ={{app.session.get('countCuotas')}} ;#}
                            //countCantidadCuotas(countCuotas+1);
                        },
                        error: function (data) {
                            $.pnotify({title: 'Error', text: 'No se pudo crear la asistencia', type: 'error'});
                            $("#btnAceptarAsistencia").attr('disabled', false);
                        }
                    });
                } else {
                    $("#btnAceptarAsistencia").attr('disabled', false);
                    mostrarMensaje("Elija una fecha", "error");
                }
            }
            );
    </script>
{% endblock %}