<!--codigo para copilar Modal-->
<script id="hbListActividades" type="text/x-handlebars-template">
{% verbatim  %}
<div> 
    <div> 
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Cerrar</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{cliente}}
                {{#if cantCuotasNoPagas}}&nbsp;
                    <a class="label label-danger" href="{{rutaCuota}}">
                        Debe {{cantCuotasNoPagas}} cuotas
                    </a>
                {{/if}}
            </h4>
        </div> 
        <div class="modal-body">  
            <div class="row">
                <div class="col-md-12">  
                    <img src="{{foto}}" class="pull-left" style="margin: 0 10px 10px 0; width:30%">
                    <div class="table-responsive">
                        <div class="panel panel-grape">
                            <div class="panel-heading">
                                <h4> 
                                    <i class="icon-highlight fa fa-check"></i>
                                    Actividades
                                </h4>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    {{#each actividades}}
                                        <a class="list-group-item liPonerAsistencia" 
                                            href="javascript:;" 
                                            data-id="{{id}}" data-cliente="{{./idCliente}}" > 

                                            {{planNombre}}&nbsp;-&nbsp; {{nombre}}
                                        </a>
                                    {{/each }} 
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div class="modal-footer">
            <button type="button" class="btn btn-primary pull-left btnAsistio" 
                    data-cliente="{{idCliente}}" data-dismiss="modal">
                Asistio!
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>
{% endverbatim  %}
</script>

<script type="text/javascript">
    function actualizarListaAsitencia(array) {
        var html = null;
        html = $templateModalAsistencia(array);
        $('#listaAsistencia').html(html);
        metodosModalAsistencia();
    }

    function metodosModalAsistencia() {
        $(".liPonerAsistencia").click(function () {

            $idCliente = $(this).data("cliente");
            $idActividadCobro = $(this).data('id');

            $(this).attr('disabled', true);

            $.ajax({
                type: "POST",
                data: {idActividadCobro: $idActividadCobro, idCliente: $idCliente},
                url: "{{ path('crear_asistencia_by_ajax') }}",
                success: function (array) {

                    if (array.resultado === true) {

                        $.pnotify({title: 'Asistencia Confirmada', text: 'Registro Creado', type: 'success'});
                        $('#modalAsistencia').modal('hide');
                    } else {

                        $.pnotify({title: 'Error', text: 'No se pudo confirmar la asistencia', type: 'error'});
                    }
                    $(".liPonerAsistencia").attr('disabled', false);
                },
                error: function (data) {

                    $.pnotify({title: 'Error', text: 'No se pudo confirmar la asistencia', type: 'error'});
                    $(".liPonerAsistencia").attr('disabled', false);
                }
            });
        });


        $(".btnAsistio").click(function () {

            $idCliente = $(this).data("cliente");
            $(this).attr('disabled', true);
            $.ajax({
                type: "POST",
                data: {idCliente: $idCliente},
                url: "{{ path('crear_asistencia_by_ajax') }}",
                success: function (array) {
                    if (array.resultado === true) {

                        $.pnotify({title: 'Asistencia Confirmada', text: 'Registro Creado', type: 'success'});
                        $('#modalAsistencia').modal('hide');
                    } else {

                        $.pnotify({title: 'Error', text: 'No se pudo confirmar la asistencia', type: 'error'});
                    }
                    $(".btnAsistio").attr('disabled', false);
                },
                error: function (data) {
                    
                    $.pnotify({title: 'Error', text: 'No se pudo confirmar la asistencia', type: 'error'});
                    $(".btnAsistio").attr('disabled', false);
                }
            });
        });

    }
</script>