<!--codigo para copilar Modal-->
<script id="hbCuentaCorriente" type="text/x-handlebars-template">
    {% verbatim  %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
            <h4 class="modal-title" id="myModalLabel">
                Cliente: {{cliente}}
            </h4>
            </h4>
                Fecha de inscripcion: {{fechaInscripcion}} |
                Total de deuda: $ {{total_deuda}} |
                Saldo a favor: $ {{saldoAFavor}}
            </h4>
        </div> 
        <div class="modal-body">  
            <div class="row">
                <div class="col-md-12">  
                    <img src="{{foto}}" class="pull-left" style="margin: 0 10px 10px 0; width:30%">
                    <div class="table-responsive">
                        <div class="panel panel-grape">
                            <div class="panel-heading">
                                <h4> 
                                    <i class="icon-highlight fa fa-check"></i>
                                    Actividades que realiza el cliente
                                </h4>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    {{#each actividades}}
                                        <li class="list-group-item"> 
                                            {{planNombre}}&nbsp;-&nbsp; {{nombre}}
                                        </li>
                                    {{/each }} 
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-grape">
                            <div class="panel-heading">
                                <h4> 
                                    <i class="icon-highlight fa fa-check"></i>
                                    Cuotas no pagas
                                </h4>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    {{#each CuotasNoPagas}}
                                        <li class="list-group-item">
                                            {{plan}}  &nbsp;-&nbsp; 
                                            {{pagosFaltantes}}  &nbsp;-&nbsp;
                                            {{fecha}}
                                        </li>
                                    {{/each }} 
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
    {% endverbatim  %}
</script>

<script type="text/javascript">
    function traerCuentaCorriente(array) {
        
        var html = null;
        html = $templateModalCuentaCorriente(array);
        $('#cuentaCorriente').html(html);
    }
</script>