{#{% extends 'MWSimpleAdminCrudBundle:Default:new.html.twig' %}
{% block form %}
    {{form_start(form, { 'attr': {'id': 'formAsistencia'} }) }}
    <input type="hidden" id="hidAsistencia" name="hidAsistencia"/>
    {{form_rest(form)}}
    {{ form_end(form) }}
{% endblock %}#}
