{% extends 'MWSimpleAdminCrudBundle:Default:edit.html.twig' %}

{% block form %}

    {% form_theme edit_form 'SistemaRRHHBundle:Form:form-cliente-theme.html.twig' %}
    
    {{ form(edit_form ) }}
    
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/addForm.js') }}"></script>
    <script src="{{ asset('bundles/sistemarrhh/js/webcam.js') }}"></script>
{% endblock %}