{% extends 'MWSimpleAdminCrudBundle:Default:index.html.twig' %}

{% block page %}

{% form_theme filterForm 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}

<div class="row">
    {% if filterForm.vars.errors|length > 0 %}
        <div class="col-lg-12 col-md-12 col-sm-6">
            <div class="alert alert-block alert-danger fade in form-errors">
                {{ form_errors(filterForm) }}
            </div>
            &nbsp;
        </div>
    {% endif %}
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="filters-right">
            {% block buttons %}
                <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                    {{ 'views.index.filters'|trans({}, 'MWSimpleAdminCrudBundle') }}
                    <span class="caret"></span>
                </a>
                <a id="reset_index_filters" class="btn btn-danger">
                    {{ 'views.index.reset'|trans({}, 'MWSimpleAdminCrudBundle') }}
                </a>
            {% endblock %}
        </div>
    </div>
    <div id="filters" class="collapse">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="well">
                {{ form_start(filterForm) }}
                {{ form_end(filterForm) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <br>
        {% if entities is not empty %}
            <h5>Gimnasio actual: <strong>{{ entities[0].gimnasio.nombre }}</strong><h5>
        {% endif %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="btn-group">
                    <a {% if estado == 'Activo' %}class="btn btn-primary active btnEstado"{% else %}class="btn btn-primary btnEstado"{% endif %} type="button" href="{{ path('admin_cliente') }}">Clientes Activos</a>
                    <a {% if estado == 'Inactivo' %}class="btn btn-primary active btnEstado"{% else %}class="btn btn-primary btnEstado"{% endif %} type="button" href="{{ path('admin_cliente_inactivo') }}">Clientes Inactivos</a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            {% for key, field in config.fieldsindex %}
                                <th{% if entities.isSorted(key) %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, field.label, key) }}</th>
                            {% endfor %}
                            <th>{{ 'views.index.actions'|trans({}, 'MWSimpleAdminCrudBundle') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            {% for key, field in config.fieldsindex %}

                                <td>
                                {% if field.type in ['datetime', 'datetimetz', 'date', 'time'] %}
                                    {{ attribute(entity, field.name)|date(field.date) }}
                                {% elseif field.type in ['boolean'] %}
                                    {{ isActive(attribute(entity, field.name)) }}
                                {% elseif field.type in ['ONE_TO_MANY', 'MANY_TO_MANY'] %}
                                    {% set many_entity = attribute(entity, field.name) %}
                                    {% for key, field_many in many_entity %}
                                        {{ field_many }}
                                        {% if field.separator is defined %}
                                            {{ field.separator|raw }}
                                        {% else %}
                                            |
                                        {% endif %}
                                    {% endfor %}
                                {% elseif field.type in ['string_html', 'text_html'] %}
                                    {{ attribute(entity, field.name)|raw }}
                                {% else %}
                                    {{ attribute(entity, field.name) }}
                                {% endif %}
                                </td>
                            {% endfor %}
                            <td>
                                {% block actions %}
                                    <a class="glyphicon glyphicon-search tooltips" href="{{ path(config.show, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>
                                    <a class="glyphicon glyphicon-edit tooltips" href="{{ path(config.edit, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>
                                    <a class="glyphicon glyphicon-folder-close tooltips" href="{{ path(config.cuenta, { 'id_cliente': entity.id }) }}" title="Cuenta Corriente" rel="tooltip" data-original-title="Cuenta Corriente"></a>
                                {% endblock %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                {% block buttonsbelow %}
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <a class="btn btn-success likepaginator" href="{{ path(config.new) }}">
                            {{ 'views.index.createnew'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                        </a>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 navigation">
        {{ knp_pagination_render(entities) }}
    </div>
</div>
{% endblock %}