{% extends 'MWSimpleAdminCrudBundle:Default:new.html.twig' %}

{% block form %}
    {% form_theme form 'SistemaRRHHBundle:Form:form-cliente-theme.html.twig' %}
    {{ form(form) }}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/addForm.js') }}"></script>
    <script src="{{ asset('bundles/sistemarrhh/js/webcam.js') }}"></script>
{% endblock %}