{% extends 'MWSimpleAdminCrudBundle:Default:show.html.twig' %}
{% block page %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4><i class="fa fa-check-square-o"></i> </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" >
                            <img src="{{ asset('uploads/' ~ entity.filePath) }}" alt="" class="pull-left" style="margin: 0 20px 20px 0;width: 30%" >
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <h3><strong>{{entity.nombre|title }}&nbsp;{{entity.apellido|title }}</strong></h3>
                                    <tbody>
                                        <tr>
                                            <td>Dni</td>
                                            <td>{{entity.dni}}</td>
                                        </tr>
                                        <tr>
                                            <td>Gimnasio</td>
                                            <td>{{entity.gimnasio.nombre}}</td>
                                        </tr>
                                        <tr>
                                            <td>Activo</td>
                                            <td>{{ isActive(entity.activo) }}</td>
                                        </tr>
                                        <tr>
                                            <td>E-mail</td>
                                            <td>{{entity.email}}</td>
                                        </tr>
                                        <tr>
                                            <td>Fecha de nacimiento</td>
                                            <td>
                                                {% if entity.fechaNacimiento is not null %}
                                                    {{ entity.fechaNacimiento|date("d/m/Y") }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Fecha de inscripcion</td>
                                            <td>{{ entity.fechaInscripcion|date("d/m/Y") }}</td>
                                        </tr>                                        
                                        <tr>
                                            <td>Planes</td>
                                            <td>
                                                {% for actividad in entity.actividadCobros %}
                                                    {{ actividad.getPlanYActividades }}<br>
                                                {% endfor %}
                                            </td>
                                        </tr>                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well well-sm tooltips" data-original-title="" data-trigger="hover">

                                <label>Observaciones: </label><br>
                                {{ entity.observaciones}}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-container ">
                                <ul class="nav nav-tabs success">
                                    <li class=""><a href="#home1" id="linkTelefono" data-toggle="tab">Telefonos</a></li>
                                    <li class=""><a href="#profile1" id="linkDomicilio" data-toggle="tab">Domicilios</a></li>
                                    <li class="active"><a href="#rutinas" id="linkRutina" data-toggle="tab">Rutina</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane" id="home1">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6">
                                                    <label class="control-label"><strong>Tipo</strong></label>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6">
                                                    <label class="control-label"><strong>N&uacute;mero</strong></label>
                                                </div>
                                            </div>
                                            {% for telefono in entity.telefonos %}
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                                        <div class="form-control">
                                                            <span class="input-xlarge uneditable-input">{{ (telefono.tipo ? telefono.tipo : "&nbsp;")|raw }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                                        <div class="form-control">
                                                            <span class="input-xlarge uneditable-input">
                                                                {{ (telefono.numero ? phone_number_format(telefono.numero, 'NATIONAL') : "&nbsp;")|raw }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            {% endfor %}

                                        </div>
                                    </div>
                                    <div class="tab-pane" id="profile1">
                                        <div class="col-md-12">
                                            {% for domicilio in entity.domicilios %}
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                        <label class="control-label">Localidad</label>
                                                        <div class="form-control">
                                                            <span class="input-xlarge uneditable-input">{{ (domicilio.localidad ? domicilio.localidad : "&nbsp;")|raw }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                        <label class="control-label">Calle</label>
                                                        <div class="form-control">
                                                            <span class="input-xlarge uneditable-input">{{ (domicilio.calle ? domicilio.calle : "&nbsp;")|raw }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                        <label class="control-label">Numero</label>
                                                        <div class="form-control">
                                                            <span class="input-xlarge uneditable-input">{{ (domicilio.numero ? domicilio.numero : "&nbsp;")|raw }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                        <label class="control-label">Departamento</label>
                                                        <div class="form-control">
                                                            <span class="input-xlarge uneditable-input">{{ (domicilio.departamento ? domicilio.departamento : "&nbsp;")|raw }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                        <label class="control-label">Edificio</label>
                                                        <div class="form-control">
                                                            <span class="input-xlarge uneditable-input">{{ (domicilio.edificio ? domicilio.edificio : "&nbsp;")|raw }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                        <label class="control-label">Manzana</label>
                                                        <div class="form-control">
                                                            <span class="input-xlarge uneditable-input">{{ (domicilio.manzana ? domicilio.manzana : "&nbsp;")|raw }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                        <label class="control-label">Entre Calles</label>
                                                        <div class="form-control">
                                                            <span class="input-xlarge uneditable-input">{{ (domicilio.entreCalles ? domicilio.entreCalles : "&nbsp;")|raw }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                        <label class="control-label">Tira</label>
                                                        <div class="form-control">
                                                            <span class="input-xlarge uneditable-input">{{ (domicilio.tira ? domicilio.tira : "&nbsp;")|raw }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                        <label class="control-label">Parcela</label>
                                                        <div class="form-control">
                                                            <span class="input-xlarge uneditable-input">{{ (domicilio.parcela ? domicilio.parcela : "&nbsp;")|raw }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="tab-pane active clearfix" id="rutinas">
                                        <div class="col-md-12">
                                            <table id="tablaRutinas" class="datatables">
                                                <thead>
                                                <th>Fecha Inicio</th>
                                                <th>Fecha Fin</th>
                                                <th>Duracion</th>
                                                <th>Nombre</th>
                                                <th>Accion</th>
                                                </thead>
                                                <tbody>
                                                    {% for rutinaCliente in entity.rutinasClientes %}
                                                        <tr>
                                                            <td>{{ rutinaCliente.fecha |date('d-m-Y') }}</td>
                                                            <td>-</td>
                                                            <td>{{ rutinaCliente.rutina.cantidadSemanas }}</td>
                                                            <td>{{ rutinaCliente.rutina.nombre }}</td>
                                                            <td> <a class="glyphicon glyphicon-search tooltips btnVerRutina" data-id="{{rutinaCliente.rutina.id}}"  href="javascript:;" title="" rel="tooltip" data-original-title="Ver Rutina"></a></td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="col-lg-9">
                            <div class="float-left col-lg-3">
                                <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                                    {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
                                </a>
                            </div>
                            <div class="float-left col-lg-3">
                                <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                                    {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                                </a>
                            </div>
                            <div class="float-left col-lg-3">
                                {{ form(delete_form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include('SistemaGymBundle:Form:macro-modalRutina.html.twig') }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/sistemagym/plugins/datatables/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sistemagym/plugins/datatables/js/dataTables.bootstrap.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            $(".btnVerRutina").click(function() {
                verRutina($(this).data('id'));
            });
            $("#linkTelefono").click(function() {
                $("#home1").addClass("active clearfix");
                $("#profile1").removeClass("active clearfix")
            });
            $("#linkDomicilio").click(function() {
                $("#home1").removeClass("active clearfix")
                $("#profile1").addClass("active clearfix");
            });
            $('.datatables').dataTable({
                "language": {
                    "url": "{{ asset('bundles/sistemagym/js/lang/Spanish.json') }}" ,
                },                
                "sDom": "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
                "sPaginationType": "bootstrap",
            });
            $('.dataTables_filter input').addClass('form-control').attr('placeholder', 'Buscar en la tabla...');
            $('.dataTables_length select').addClass('form-control');

        });
    </script>
{% endblock %}
