{% extends 'MWSimpleAdminCrudBundle:Default:edit.html.twig' %}

{% block form %}
    {% form_theme edit_form 'SistemaGymBundle:Form:form-combinacion-theme.html.twig' %}
    {{ form(edit_form) }}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/addForm.js') }}"></script>
{% endblock %}