{% extends 'MWSimpleAdminCrudBundle:Default:new.html.twig' %}

{% block form %}
    {% form_theme form 'SistemaGymBundle:Form:form-combinacion-theme.html.twig' %}
    {{ form(form) }}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/addForm.js') }}"></script>
{% endblock %}