{% extends 'MWSimpleAdminCrudBundle:Default:show.html.twig' %}

{% block page %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4><i class="fa fa-check-square-o"></i> </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="focusedinput">Cantidad de vueltas</label>
                            <div class="col-sm-6">
                                <input id="focusedinput" class="form-control" type="text" placeholder="" value="{{entity.cantidadVueltas}}">
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4>
                                    <i class="icon-highlight fa fa-clock-o"></i>
                                    Renglones
                                </h4>
                            </div>
                            <div class="panel-body">
                                <ul class="panel-tasks ui-sortable">
                                    {% for re in entity.rutinaEjercicios  %}
                                        <li>
                                            <label>
                                                <span class="task-description">
                                                    Ejercicio: {{re.ejercicio}} - Serie: {{re.serie}}
                                                </span>
                                            </label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="col-lg-9">
                <div class="float-left col-lg-3">
                    <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                        {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
                    </a>
                </div>
                <div class="float-left col-lg-3">
                    <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                        {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                    </a>
                </div>
                <div class="float-left col-lg-3">
                    {{ form(delete_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

