{% extends 'MWSimpleAdminCrudBundle:Default:edit.html.twig' %}
{% block form %}
    {% form_theme edit_form 'SistemaGymBundle:Form:form-ejercicio-theme.html.twig' %}
    {{ form(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
{% endblock %}
