{% extends 'MWSimpleAdminCrudBundle:Default:new.html.twig' %}
{% block form %}
    {% form_theme form 'SistemaGymBundle:Form:form-ejercicio-theme.html.twig' %}
    {{ form(form, {'attr': {'class': 'form-horizontal'}}) }}
{% endblock %}
