{% extends "SistemaGymBundle::layoutFOS.html.twig" %}

{% block fos_user_content %}
    <h4 class="text-center" style="margin-bottom: 25px;">{{ 'layout.login'|trans({}, 'FOSUserBundle') }} | <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></h4>
    {% if error %}
        <div style="color: red;">{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal" style="margin-bottom: 0px !important;">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="form-group">
            <div class="col-sm-12">
                <div class="input-group">
                    <span for="username" class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="input-group">
                    <span for="password" class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" />
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="pull-right"><label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" value="on" style="margin-bottom: 20px"> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label></div>
        </div>

        <div class="panel-footer">
            <div class="pull-left">
                <a href="{{ path('homepage') }}" class="btn btn-default">Cerrar</a>
            </div>
            <div class="pull-right">
                <a href="{{ path("fos_user_resetting_request") }}" class="pull-left btn btn-link" style="padding-left:0">Recordar contrase&ntilde;a?</a>
                <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </div>
    </form>
{% endblock fos_user_content %}
