{% import "SistemaGymBundle:Form:macro-rutinaDias.html.twig" as macrosRutinaDias%}

{% form_theme form.rutinaDias 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
<script src="{{ asset('bundles/sistemagym/js/rutinaDiasAddUl.js') }}"></script>
<div class="well">
    <div class="row">
        <legend class="text-center">Rutina Dias</legend>
        <div class='col-lg-12 col-md-12 col-sm-12'>
            <div class="ribon_dom">
                <button type="button" class='add_rutinaDias_link btn btn-primary'><span class="glyphicon glyphicon-plus"></span>&nbsp;<span class="glyphicon glyphicon-calendar"></span></button>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-green" id="btnPrevisualizar">
                    Previsualizar
                </button>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-green" data-toggle="modal" data-target="#modalNewCombinacion">
                    Nueva Combinacion
                </button>
                  <!-- Button trigger modal -->
                <button type="button" class="btn btn-green" data-toggle="modal" data-target="#modalNewEjercicio">
                    Nuevo Ejercicio
                </button>
            </div>
            <br>
        </div>
        <div id="tabs-container">
            <ul class="nav nav-tabs rutinaDiastabs-ul"></ul>
            <div data-prototype="{{ macrosRutinaDias.prototipoRutinaDias(form.rutinaDias.vars.prototype)|e }}"  class="rutinaDias tab-content">
                {% for key,rutinaDias in form.rutinaDias %}
                    {{ macrosRutinaDias.prototipoRutinaDias(rutinaDias, key) }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('bundles/sistemagym/js/rutinaDias.js') }}"></script>

