{% block form_widget_simple %}
{% spaceless %}
    <div class="form-group {% if attr.col is defined %}{{ attr.col }}{% endif %}">
        {% set type = type|default('text') %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{% endspaceless %}
{% endblock form_widget_simple %}
