{% import "SistemaGymBundle:Form:macro-pagoDetalle.html.twig" as macrosPagoDetalle%}

<div class="panel panel-info">
    <div class="panel-heading">
        <h4><i class="fa fa-book">&nbsp;Detalle</i></h4>&nbsp;
        {#<a id="nuevoPagoDetalle" class="btn btn-info">
            <i class="fa fa-plus">&nbsp;Agregar</i>
        </a>#}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">  
                <label>Cuotas</label>
            </div>
           {# <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> 
                <label>Monto</label>
            </div>#}
        </div>    
        <div data-prototype="{{ macrosPagoDetalle.prototipoPagoDetalle(form.vars.prototype)|e }}" class="pagoDetalle">
            {% for key, detalle in form %}
                {{ macrosPagoDetalle.prototipoPagoDetalle(detalle) }}
            {% endfor %}
        </div>
    </div>
</div>

