{% import "SistemaGymBundle:Form:macro-rutinaejercicio.html.twig" as macrosRutinaEjercicio%}

{% form_theme form.rutinaEjercicios 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}

<div class="panel panel-info">
    <div class="panel-heading">
        <h4><i class="fa fa-book">&nbsp;Renglones</i></h4>&nbsp;
        <a id="nuevoRutinaEjercicio" class="btn btn-info">
            <i class="fa fa-plus">&nbsp;Agregar</i>
        </a>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="row">
                <div class="col-sm-12 ">
                    <div data-prototype="{{ macrosRutinaEjercicio.prototipoRutinaEjercicio(form.rutinaEjercicios.vars.prototype)|e }}" class="rutinaEjercicio">
                        <div>
                            {% for rutinaEjercicio in form.rutinaEjercicios %}
                                {{ macrosRutinaEjercicio.prototipoRutinaEjercicio(rutinaEjercicio) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('bundles/sistemagym/js/rutinaEjercicios.js') }}"></script>