{% import "SistemaGymBundle:Form:macro-plan.html.twig" as macrosPlan%}

<div class="panel panel-info">
    <div class="panel-heading">
        <h4><i class="fa fa-book">&nbsp;Planes</i></h4>&nbsp;
        <a id="nuevoPlan" class="btn btn-info">
            <i class="fa fa-plus">&nbsp;Agregar</i>
        </a>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                <label>Cantidad de dias semanales</label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <label>Costo</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <label>Nombre</label>
            </div>
        </div>    
        <div data-prototype="{{ macrosPlan.prototipoPlan(form.planes.vars.prototype)|e }}" class="plan">
            {% for key, plan in form.planes %}
                {% if key == 0 %}
                    {{ macrosPlan.prototipoPlan(plan,true) }}
                {% else %}
                    {{ macrosPlan.prototipoPlan(plan,null) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<script src="{{ asset('bundles/sistemagym/js/plan.js') }}"></script>