{% import "SistemaGymBundle:Form:macro-horario.html.twig" as macrosHorario %}

<div class="panel panel-info">
    <div class="panel-heading">
        <h4><i class="fa fa-clock-o">&nbsp;Horarios</i></h4>&nbsp;
        <a id="nuevoHorario" class="btn btn-info">
            <i class="fa fa-plus">&nbsp;Agregar</i>
        </a>
    </div>
    <div class="panel-body">
        <div class="row"> 
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label>Dia</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <label>Hora inicio</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <label>Hora fin</label>
            </div>
        </div>         
        <div data-prototype="{{ macrosHorario.prototipoHorario(form.horarios.vars.prototype)|e }}" class="horario">
            {% for key, horario in form.horarios %}
                {% if key == 0 %}
                    {{ macrosHorario.prototipoHorario(horario,true) }}
                {% else %}
                    {{ macrosHorario.prototipoHorario(horario,null) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<script src="{{ asset('bundles/sistemagym/js/horario.js') }}"></script>