{% block sistema_gymbundle_actividad_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    {% if form.vars.value.cliente is not null %}
        {% set gim = form.vars.value.cliente.gimnasio.nombre %}
    {% else %}
        {% set gim = "Buscar gimnasio" %}
    {% endif %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-indigo">
                <div class="panel-heading">
                    <h4>Ingrese los datos</h4>
                </div>
                <div class="panel-body">

                    {{ form_row(form.fecha) }}
                     {% if edit is defined %} 
                        <div class="form-group">
                            {{ form_label(form.diaCobro) }}
                            <div class="col-sm-6">
                                {{ form_errors(form.diaCobro) }}
                                {{ form_widget(form.diaCobro) }}
                            </div>
                        </div>   
                    {% endif %}                 
                    {{ form_row(form.cliente) }}
                    {{ form_row(form.plan) }}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-md-12" id="DatosCliente" style="display:none">
                <img id="fotoPerfil" class="pull-left" style="margin: 0 20px 20px 0; width:40%;" alt="" src="">
                <div class="table-responsive">
                    <h3><strong id="clienteAppNom"></strong></h3>
                    <hr>
                    <button class="btn btn-small btnVerPerfilCliente" type="button">Ver mas</button>
                </div>
            </div>
            <div class="col-md-12" id="datosPlan" style="display: none">
                <dl class="dl-horizontal">
                    <dt>Actividad</dt>
                    <dd id="planActividad"></dd>
                    <dt>Plan</dt>
                    <dd id="plan"></dd>
                    <dt>Cantidad Dias</dt>
                    <dd id="planCantDias"></dd>
                    <dt>Costo</dt>
                    <dd id="planCosto"></dd>
                </dl>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            {{ form_row(form.save) }}
            {{ form_row(form.saveAndAdd) }}
        </div>
    </div>
    {{ form_end(form) }}
    
    {{ include('SistemaGymBundle:Form:macro-modalCliente.html.twig') }}
{% endblock %}

<script type="text/javascript">
    $(document).ready(function() {
        $("#estadoClientePlan").hide();
        var edit;
        {% if edit is defined %}   
            edit = {{ edit }} ;
            var datosPerfil = new Array();
            datosPerfil["email"] = "{{ form.vars.value.cliente.email}}";
            datosPerfil["text"] = "{{ form.vars.value.cliente.apellido|title }} {{ form.vars.value.cliente.nombre|title }}";
            datosPerfil["fotoPerfil"] = "{{ form.vars.value.cliente.filePath}}";
            cargarDatosPerfil(datosPerfil);
            var datosPlan = new Array();
            datosPlan["actividad"] = "{{ form.vars.value.plan.actividad.nombre }}";
            datosPlan["cantDias"] = "{{ form.vars.value.plan.cantidadDiasSemana }}";
            datosPlan["costo"] = "{{ form.vars.value.plan.costo}}";
            datosPlan["plan"] = "{{ form.vars.value.plan.nombre}}";
            cargarDatosPlan(datosPlan);
        {% endif %}
    });

    $(".btnVerPerfilCliente").click(function() {
        verPerfilCompleto($("#select2_historialCobro_cliente").val());
    });

    function cargarDatosPerfil(datos) {        
        $("#fotoPerfil").attr("src", "/uploads/"+datos.fotoPerfil);
        $("#clienteAppNom").html(datos.text);
        $("#DatosCliente").show();
        if ($("#select2_historialCobro_cliente").val() !== "" && $("#select2_historialCobro_plan").val() !== "") {
            //inscripto($("#select2_historialCobro_cliente").val(), $("#select2_historialCobro_plan").val());
        }
    }
    function cargarDatosPlan(datos) {
        $("#idPlan").val(datos.id);
        $("#planActividad").html(datos.actividad);
        $("#planCantDias").html(datos.cantDias);
        $("#planCosto").html(datos.costo);
        $("#plan").html(datos.plan);
        $("#estadoClientePlan").show();
        $("#datosPlan").show();
        if ($("#select2_historialCobro_cliente").val() !== "" && $("#select2_historialCobro_plan").val() !== "") {
            // inscripto($("#select2_historialCobro_cliente").val(), $("#select2_historialCobro_plan").val());
        }
    }
</script>