{% block sistema_gymbundle_rutinacliente_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
   
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.fecha) }}
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="col-xs-10">
                    {{ form_row(form.cliente) }}
                </div>
                <div class="col-xs-2">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="btnVerPerfilCliente">&nbsp;</label><br>
                        <button class=" btn btn-info" type="button" id="btnVerPerfilCliente">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="col-xs-10">
                    {{ form_row(form.rutina) }}
                </div>
                <div class="col-xs-2">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="btnVerRutina">&nbsp;</label><br>
                        <button class=" btn btn-info" type="button" id="btnVerRutina">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {{ form_row(form.save) }}
            {{ form_row(form.saveAndAdd) }}
        </div>
    </div>
    {{ include('SistemaGymBundle:Form:macro-modalCliente.html.twig') }}
    {{ include('SistemaGymBundle:Form:macro-modalRutina.html.twig') }}
    <script type="text/javascript">
        $("#btnVerPerfilCliente").click(function() {
            verPerfilCompleto($("#select2_sistema_gymbundle_rutinacliente_cliente").val());
        });
        $("#btnVerRutina").click(function() {
            verRutina($("#select2_sistema_gymbundle_rutinacliente_rutina").val());
        });
    </script>
{% endblock %}
