{% block sistema_gymbundle_actividad_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    {{ form_row(form.nombre) }}
    {{ form_row(form.activo) }}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {% include 'SistemaGymBundle:widget:form_fields_AddHorario.html.twig' with { 'form' : form } %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {% include 'SistemaGymBundle:widget:form_fields_AddPlan.html.twig' with { 'form' : form } %}
        </div>
    </div>
    <div class="panel-footer">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {{ form_row(form.save) }}
            {{ form_row(form.saveAndAdd) }}
        </div>
    </div>
{% endblock %}