{% block sistema_gymbundle_rutina_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    <div class="row">
        <div class="col-xs-3">
            <div class="col-lg-3 col-md-3 col-sm-3 ">
                {{ form_label(form.cantidadSemanas) }}
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                {{ form_errors(form.cantidadSemanas) }}
                {{ form_widget(form.cantidadSemanas) }}
            </div>
        </div>
        <div class="col-xs-9">
            <div class="col-lg-3 col-md-3 col-sm-3 ">
                {{ form_label(form.nombre) }}
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                {{ form_errors(form.nombre) }}
                {{ form_widget(form.nombre) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {% include 'SistemaGymBundle:widget:form_fields_AddRutinaDia.html.twig' with { 'form' : form } %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {{ form_row(form.save) }}
            {{ form_row(form.saveAndAdd) }}
        </div>
    </div>
    <script type="text/javascript">
        $("#btnPrevisualizar").click(function () {
            $.ajax({
                type: "POST",
                url: "{{path('Rutina_previsualizar')}}",
                data: $('#formuarioRutina').serialize(),
                success: function (data) {
                    actualizarModalRutina(data);
                },
            });
        });
    </script>
{% endblock %}