{% block sistema_gymbundle_pago_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    <div class="col-lg-6 col-md-6 col-sm-6">
        {% if form.fecha is defined %}
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    {{ form_row(form.fecha) }}    
                </div>
            </div>    
        {% endif %}
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                {{ form_row(form.cliente) }}
            </div>
            <br>
            <button id="buscarCuota" type="button" class="btn btn-primary">Buscar saldo</button>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
                {{ form_row(form.monto) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6" id="saldoFavor">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6" id="detalleLista">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6" id="totalSaldo">
        </div>        
    </div>   

    <div class="panel-footer">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {{ form_row(form.save) }}
            {{ form_row(form.saveAndAdd) }}
        </div>
    </div>
{% endblock %}