{% block sistema_gymbundle_combinacion_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    <div class="row">
        <div class="col-xs-6">
            <div class="col-lg-3 col-md-3 col-sm-3 ">
                {{ form_label(form.cantidadVueltas) }}
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                {{ form_errors(form.cantidadVueltas) }}
                {{ form_widget(form.cantidadVueltas) }}
            </div>
        </div>

    </div>
            <br>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {% include 'SistemaGymBundle:widget:form_fields_AddRutinaEjercicio.html.twig' with { 'form' : form } %}
        </div>
    </div>
    {% if form.save is defined %}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ form_row(form.save) }}
                {{ form_row(form.saveAndAdd) }}
            </div>
        </div>
    {% endif %}
{% endblock %}