{% block sistema_gymbundle_ejercicio_widget %}
    {{form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="row">
        <div class="form-group">
            {{ form_label(form.nombre) }}
            <div class="col-sm-6">
                {{ form_errors(form.nombre) }}
                {{ form_widget(form.nombre) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.activo) }}
            <div class="col-sm-6">
                <div class="checkbox block">
                    {{ form_errors(form.activo) }}
                    {{ form_widget(form.activo) }}
                </div>
            </div>
        </div>
    </div>
    {% if form.save is defined %}
        <hr>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.save) }}
                {{ form_row(form.saveAndAdd) }}
            </div>
        </div>
    {% endif %}
    {{ form_end(form) }}

{% endblock %}
