<link rel="stylesheet" href="{{ asset('bundles/sistemagym/css/renglones.css')}}">
<!-- Modal Asignar Rutina a Cliente -->
<div class="modal fade" id="modalRutinaCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class= "modal-header">
                <button type = "button" class = "close" data-dismiss = "modal"> <span aria-hidden = "true" > &times; </span><span class="sr-only">Cerrar</span> </button>
                <h4 class = "modal-title" > Asignar Rutina a Cliente</h4>
            </div>
            <div class = "modal-body">
                <div class="row">
                    <input type="hidden" id="multipleCliente" class="search-query" >

                </div>
                <br>
                <div id="contenidoRutinaCliente" class="row">

                </div>
            </div>
            <div class = "modal-footer">
                <button type = "button" class = "btn btn-default btnSalir" data-dismiss="modal"> Cerrar </button>
                <button type="button" class="btn btn-primary btnAceptar">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!--codigo para copilar modal rutina-->
<script id = "hbModalRutinaCliente" type = "text/x-handlebars-template" >
    {% verbatim  %} 
        <div class = "row">
        <ul class="list-unstyled hoja">
         <li><strong>Clientes:</strong>&nbsp;
        {{#clientes}}
       {{cliente}},&nbsp;
        {{/clientes}}
                </li>
        <li><strong>Nombre:</strong>&nbsp;{{ nombre}}&nbsp;&nbsp; Cantidad de semanas:&nbsp;{{ cantidadSemana}}</li>
        {{#rutinaDias}}
        <ul class="list-unstyled hoja">
        <li><strong>{{ dia}}</strong></li>
        {{#combinaciones}}
        <ul class="list-unstyled hoja">
        <li>&nbsp;&nbsp;&nbsp;&nbsp;Vueltas:&nbsp;{{ cantidadVueltas}}</li>
        {{#rutinaEjercicios}}
        <ul class="list-unstyled hoja">
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ ejercicio}}</li>
        </ul>
        {{/rutinaEjercicios}}
        </ul>
        {{/combinaciones}}
        </ul>
        {{/rutinaDias}}
        </ul>
        </div>

    {% endverbatim  %}
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var idRutina = 0;
    });
    function verRutinaCliente(rutina) {
        idRutina = rutina;
        $.ajax({
            type: "POST",
            url: "{{ path('Rutina_autocomplete_rutinaById') }}",
            data: {id: rutina},
            success: function (array) {
                actualizarModalRutinaCliente(array["rutina"]);
                actualizarSelectCliente(array["clientes"]);
                $('#modalRutinaCliente').modal('show');
            },
            error: function (data) {
                mostrarMensaje("Error al actualizar", "error");
            }
        });
    }
    function mostrarMensaje(_texto, _tipo) {
        $.pnotify({title: 'Alerta', text: _texto, type: _tipo});
    }

    function actualizarModalRutinaCliente(array) {
        var fuente = $("#hbModalRutinaCliente").html();
        /*Handlebars.registerHelper('eachRutinaDias', function(context, options) {
         var ret = "";
         for (var i = 0, j = context.length; i < j; i++) {
         console.log(context[i]);
         ret = ret + options.fn(context[i]);
         }
         return ret;
         });*/
        var plantilla = Handlebars.compile(fuente);
        var html = plantilla(array, array);
        $("#contenidoRutinaCliente").html(html);
    }
    function actualizarSelectCliente(clientes) {
        $('#multipleCliente').select2('data', null);
        $("#multipleCliente").select2({
            data: clientes,
            multiple: true,
            width: "100%"
        });
    }
    function crearRutinaCliente(clientes) {
        $(".btnSalir").attr('disabled', true);
        $(".btnAceptar").attr('disabled', true);
        $.ajax({
            type: "POST",
            url: "{{ path('RutinaCliente_crear') }}",
            data: {rutina: idRutina, clientes: clientes},
            success: function (array) {
                if (array['resultado'] === true) {
                    mostrarMensaje("Asignacion de rutina creada", "success");
                    $('#modalRutinaCliente').modal('hide')
                } else {
                    mostrarMensaje("Error", "error");
                }
                $(".btnSalir").attr('disabled', false);
                $(".btnAceptar").attr('disabled', false);
            },
            error: function (data) {
                mostrarMensaje("Error", "error");
                $(".btnSalir").attr('disabled', false);
                $(".btnAceptar").attr('disabled', false);
            }
        });
    }
    $(".btnAceptar").click(function () {
        var selections = $("#multipleCliente").select2('data');
        if (selections.length !== 0) {
            crearRutinaCliente(selections);
        }else{
             mostrarMensaje("No selecciono ningun cliente", "info");
        }
    });
</script>
