{% macro prototipoPlan(entity,deleteBtn) %}
<div class="row rowremove">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">    
        {{ form_widget(entity.cantidadDiasSemana) }}
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">    
        {{ form_widget(entity.costo) }}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">   
        {{ form_widget(entity.nombre) }}
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">   
        {{ form_widget(entity.activo) }}
    </div>

    {% if deleteBtn is null %}
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">    
            <a class="delete_plan btn btn-mini btn-danger" href="javascript:;">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
    {% endif %}
</div>
<br>
{% endmacro %}