<!-- Modal Perfil Cliente -->
<div class="modal fade" id="modalPerfilCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="contenidoPerfilCliente">

        </div>
    </div>
</div>

<!--codigo para copilar modal perfil cliente-->
<script id="hbModalPerfilCliente" type="text/x-handlebars-template">
    {% verbatim  %} 
    <div class="modal-header"> 
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true"> &times; </span> <span class="sr-only">Cerrar</span>
        </button>
        <h4 class="modal-title"> {{ text }} </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
            <img src={{ fotoPerfil }} alt="" class="pull-left" style="margin: 0 20px 20px 0;width: 200px;">
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <td>Dni</td>
                                <td>{{dni}}</td>
                            </tr>
                            <tr>
                                <td>Gimnasio</td>
                                <td>{{gimnasio}}</td>
                            </tr>
                            <tr>
                                <td>E-mail</td>
                                <td>{{email}}</td>
                            </tr>
                            <tr>
                                <td>Activo</td>
                                <td>
                                    {{#if activo}}
                                    <span class="label label-success">Activo</span>
                                    {{else}}
                                    <span class="label label-danger">Desactivado</span>
                                    {{/if}}
                                </td>
                            </tr>
                            <tr>
                                <td>Fecha Nacimiento</td>
                                <td>{{ fecha }}</td>
                            </tr>
                            <tr>
                                <td>Fecha Inscripcion</td>
                                <td>{{ fecha_inscripcion }}</td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm tooltips" data-original-title="" data-trigger="hover">
                    <label>Observaciones: </label><br>
                    {{ observacion }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Cerrar </button>
    </div>
    {% endverbatim %}
</script>
<script type="text/javascript">
    function verPerfilCompleto(cliente) {
        $.ajax({
            type: "POST",
            url: "{{ path('find_cliente_by_id') }}",
            data: {id: cliente},
            success: function (array) {                
                actualizarModalCliente(array);
                $('#modalPerfilCliente').modal('show');
            },
            error: function (data) {
                mostrarMensaje("Error al actualizar", "error");
            }
        });
    }
    function mostrarMensaje(_texto, _tipo) {
        $.pnotify({title: 'Alerta', text: _texto, type: _tipo});
    }

    function actualizarModalCliente(array) {
        var fuente = $("#hbModalPerfilCliente").html();
        Handlebars.registerHelper('if', function (conditional, options) {
            if (conditional === true) {
                return options.fn(this);
            }
            return options.inverse(this);
        });
        var plantilla = Handlebars.compile(fuente);
        var html = plantilla(array);
        $("#contenidoPerfilCliente").html(html);
    }
</script>