<!-- Modal new ejercicio-->
<div class="modal fade" id="modalNewEjercicio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Formulario de Ejercicio</h4>
            </div>
            <div class="modal-body">
                {% form_theme form 'SistemaGymBundle:Form:form-ejercicio-theme.html.twig' %}
                {{form(form, {'attr': {'class': 'form-horizontal'}}) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnCrearEjercicio">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#btnCrearEjercicio").click(function() {
        $("#btnCrearEjercicio").attr('disabled', true);
        $.ajax({
            url: $("#formEjercicio").attr("action"),
            type: "post",
            data: $("#formEjercicio").serialize(),
            success: function(data) {
                $.pnotify({title: 'Ejercicio', text: 'Ejercicio Creado', type: 'success'});
                $('#modalNewEjercicio').modal('hide');
                $("#btnCrearEjercicio").attr('disabled', false);
            },
            error: function() {
                $.pnotify({title: 'Ejercicio', text: 'Error al crear ejercicio', type: 'danger'});
                $("#btnCrearEjercicio").attr('disabled', false);
            }
        });
    });
</script>