{% macro prototipoHorario(entity,deleteBtn) %}
<div class="row rowremove"> 
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        {{ form_widget(entity.dia) }}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        {{ form_widget(entity.horaInicio) }}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        {{ form_widget(entity.horaFin) }}
    </div>

    {% if deleteBtn is null %}
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">    
            <a class="delete_horario btn btn-mini btn-danger" href="#">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
    {% endif %}
</div>
<br>
{% endmacro %}
