<!-- Modal new combinacion-->
<div class="modal fade" id="modalNewCombinacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Formulario de Combinacion</h4>
            </div>
            <div class="modal-body">
                {% form_theme form 'SistemaGymBundle:Form:form-combinacion-theme.html.twig' %}
                {{form(form)}}
                <script src="{{ asset('bundles/mwsimpleadmincrud/js/addForm.js') }}"></script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnCrearCombinacion">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#btnCrearCombinacion").click(function() {
        $("#btnCrearCombinacion").attr('disabled', true);
        $.ajax({
            url: $("#formCombinacion").attr("action"),
            type: "post",
            data: $("#formCombinacion").serialize(),
            success: function(data) {
                $.pnotify({title: 'Combinacion', text: 'Combinacion Creado', type: 'success'});
                $('#modalNewCombinacion').modal('hide');
                $("#btnCrearCombinacion").attr('disabled', false);
            },
            error: function() {
                $.pnotify({title: 'Combinacion', text: 'Error al crear Combinacion', type: 'danger'});
                $("#btnCrearCombinacion").attr('disabled', false);
            }
        });
    });
</script>