{% macro prototipoPagoDetalle(entity) %}
    <div class="row rowremove">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">  
            {{ form_widget(entity.cuota) }}
        </div>
        {#<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">   
            {{ form_widget(entity.monto) }}
        </div>#}

        {#<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">    
            <a class="delete_pagoDetalle btn btn-mini btn-danger" href="javascript:;">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>#}

    </div>
    <br>
{% endmacro %}