{% macro prototipoRutinaEjercicio(entity) %}
    <div class="row-container rowremove">
        <div class="col-lg-12">    
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3  col-xs-3">    
                    {{ form_widget(entity.ejercicio, {'attr': {'style': 'width:100%'}}) }}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3  col-xs-3 "> 
                    <div class="form-group">
                        {{ form_label(entity.serie) }}
                        <div>
                            {{ form_widget(entity.serie, {'attr': {'style': 'width:100%'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  ">
                    <br>
                    <a class="delete_rutinaEjercicio btn btn-mini btn-danger" href="javascript:;">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}