{% macro prototipoRutinaDias(entity,key) %}
    {% if key is null %}
        {% set idcampania = "__name__" %}
    {% else %}
        {% set idcampania = key %}
        <script type="text/javascript">
            addUl({{ idcampania }}, "{{ entity.vars.value.dia }}");                    </script>
    {% endif %}
    <div class="rowremove tab-pane" id="rutinaDias_{{ idcampania }}" li="rutinaDias-li-{{idcampania}}">
        <br>
        <div class="row">
            <div class='form-group'>
                <div class="col-xs-6">
                    <div class="col-lg-3 col-md-3 col-sm-3 ">
                        {{ form_label(entity.dia) }}
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        {{ form_errors(entity.dia) }}
                        {{ form_widget(entity.dia) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                {{ form_row(entity.combinacion) }}
            </div>
        </div>
    </div>
    <div class='col-lg-1 col-md-1 col-sm-1 hidden'>
        <a id="rutinaDias_remove_{{ idcampania }}" class='btnRemoverutinaDias btn btn-sm btn-danger' href='javascript:;'>
            <i class='glyphicon glyphicon-trash'></i>
        </a>
    </div>
</div>
</div>
<script type="text/javascript">
            var str;
            $('#tabs-container select').change(function() {
    $('#' + this.id + ' option:selected').each(function() {
    str = $(this).text();
            $(".tab-content .tab-pane").each(function(){
    if ($(this).hasClass('active')) {
    var result = $(this).attr("id").split("rutinaDias_")[1];
            $('#rutinaDias-a-' + result).html(str + '&nbsp;<i id="rutinaDias-borrar-' + result + '" class="pull-right btn btn-xs btn-danger glyphicon glyphicon-trash pull-right"></i>');
    }
    });
    });
    });
            $('.rutinaDiastabs-ul').bind('click', function(event) {
    if (event.target.id === "rutinaDias-borrar-" +{{idcampania}} ){
    if (confirm("Esta Seguro que desea Eliminar este Dia?")) {
    $("#rutinaDias_remove_" +{{idcampania}} ).trigger("click");
    }
    }
    });
</script>
{% endmacro %}