<link rel="stylesheet" href="{{ asset('bundles/sistemagym/css/renglones.css')}}">
<!-- Modal  Rutina -->
<div class="modal fade" id="modalRutina" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="contenidoRutina">
        </div>
    </div>
</div>

<!--codigo para copilar modal rutina-->
<script id = "hbModalRutina" type = "text/x-handlebars-template" >
    {% verbatim  %} 
        <div class= "modal-header">
        <button type = "button" class = "close" data-dismiss = "modal"> <span aria-hidden = "true" > &times; </span><span class="sr-only">Cerrar</span> </button>
        <h4 class = "modal-title" > Rutina</h4>
        </div>
        <div class = "modal-body">
        <div class = "row">
        <ul class="list-unstyled hoja">
        <li><strong>Nombre:</strong>&nbsp;{{ nombre}}&nbsp;&nbsp; Cantidad de semanas:&nbsp;{{ cantidadSemana}}</li>
        {{#rutinaDias}}
        <ul class="list-unstyled hoja">
        <li><strong>{{ dia}}</strong></li>
        {{#combinaciones}}
        <ul class="list-unstyled hoja">
        <li>&nbsp;&nbsp;&nbsp;&nbsp;Vueltas:&nbsp;{{ cantidadVueltas}}</li>
        {{#rutinaEjercicios}}
        <ul class="list-unstyled hoja">
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ ejercicio}}</li>
        </ul>
        {{/rutinaEjercicios}}
        </ul>
        {{/combinaciones}}
        </ul>
        {{/rutinaDias}}
        </ul>
        </div>
        </div>
        </div>
        <div class = "modal-footer">
        <button type = "button" class = "btn btn-default" data-dismiss="modal"> Cerrar </button>
        </div>
    {% endverbatim  %}
</script>
<script type="text/javascript">
    function verRutina(rutina) {
        $.ajax({
            type: "POST",
            url: "{{ path('Rutina_autocomplete_rutinaById') }}",
            data: {id: rutina},
            success: function (array) {
                actualizarModalRutina(array);
            },
            error: function (data) {
                mostrarMensaje("Error al actualizar", "error");
            }
        });
    }
    function mostrarMensaje(_texto, _tipo) {
        $.pnotify({title: 'Alerta', text: _texto, type: _tipo});
    }

    function actualizarModalRutina(array) {
        var fuente = $("#hbModalRutina").html();
        /*Handlebars.registerHelper('eachRutinaDias', function(context, options) {
         var ret = "";
         for (var i = 0, j = context.length; i < j; i++) {
         console.log(context[i]);
         ret = ret + options.fn(context[i]);
         }
         return ret;
         });*/
        var plantilla = Handlebars.compile(fuente);
        var html = plantilla(array, array);
        $("#contenidoRutina").html(html);
        $('#modalRutina').modal('show');
    }
</script>
