<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ asset('bundles/sistemagym/css/styles.min.css?=113') }}">
        <link rel="stylesheet" href="{{ asset('bundles/sistemagym/css/fonts-googleapis-Source-Sans-Pro.css') }}" type="text/css">
        <script type="text/javascript" src="{{ asset('bundles/sistemagym/js/less.js') }}"></script>
    </head>
    <body class="focusedform">
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
        <div class="verticalcenter">
            <a href="{{ path('homepage') }}"><h1>GYM</h1></a>
            <div class="panel panel-primary">
                <div class="panel-body">
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="flash-{{ type }}">
                                {{ message|trans({}, 'FOSUserBundle') }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <div>
                        {% block fos_user_content %}
                        {% endblock fos_user_content %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
