{% set nombreGimasioSeleccionado = null %}
    {% if is_granted('ROLE_ADMIN') %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle username" data-toggle="dropdown">
            <span class="hidden-xs"><i class="fa fa-caret-down"></i> Gimnasios</span>
        </a>
        <ul class="dropdown-menu">
        {% for gimnasioUser in gimnasiosUser %}
            {% if (app.session.get('_idGimnasio') == gimnasioUser.id) %}
                {% set nombreGimasioSeleccionado = gimnasioUser.nombre %}
                <li class="active"><a>{{ gimnasioUser.nombre }}</a></li>
            {% else %}
                <li>
                    <a href="{{ path('cambiar_gym', { 'idGym': gimnasioUser.id }) }}">
                        {{ gimnasioUser.nombre }}
                    </a>
                </li>
            {% endif %}
            <li class="divider"></li>
        {% endfor %}
        </ul>
    </li>
    {% endif %}
<li>
    <a>
        {% if nombreGimasioSeleccionado is not null %}
            {{ nombreGimasioSeleccionado }}
        {% elseif gimnasiosUser %}
          {{ gimnasiosUser[0] }}
        {% endif %}
    </a>
</li>
