{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Bienvenido
{% endblock %}

{% block titulo %}Bienvenido{% endblock %}

{% block page %}
	{% if entity['conf'] is defined %}
    	<div class="fondotitulo"><span class="titulo1">{{ entity.conf|raw }} </span></div>
    	<hr>
	{% else %}
		<div class="fondotitulo"><span class="titulo1">{{ entity.titulo|raw }} </span></div>
    	<hr>
    	<p class="lead">{{ entity.empresa|raw }}</p>
    	<p class="lead">{{ entity.homepage|raw }}</p>
    	<hr>
	{% endif %}
{% endblock %}
