{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
	<div class="panel-footer">
		<div class="pull-left">
			<a href="{{ path('admin_cliente') }}" class="btn btn-default">Cerrar</a>
		</div>
		<div class="pull-right">
	    	<input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans }}" />
	    </div>
	</div>
</form>