{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Menu'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<div class="well well-lg">
    <h1>Menu</h1>
    <form class="form-horizontal">
        <fieldset>                <div class="form-group">
                    <label class="control-label">Id</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.id }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Titulo</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.titulo }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Ruta</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.url }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Activo</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input"><span class="input-xlarge uneditable-input">{{ isActive(entity.activo) }}</span></span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Orden</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.orden }}</span>                    </div>
                </div>
            </fieldset>
    </form>
</div>

        <div class="col-lg-9">
    <div class="float-left col-lg-3">
        <a class="btn btn-info col-lg-11" href="{{ path('superadmin_menu') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">
        <a class="btn btn-primary col-lg-11" href="{{ path('superadmin_menu_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
</div>
{% endblock %}
