{% extends 'MWSimpleAdminCrudBundle:Default:show.html.twig' %}
{% block page %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4><i class="fa fa-check-square-o"></i> </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="focusedinput">Costo</label>
                            <div class="col-sm-6">
                                <input id="focusedinput" class="form-control" type="text" placeholder="" value="{{entity.costo}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="focusedinput">Cantidad dia de semana</label>
                            <div class="col-sm-6">
                                <input id="focusedinput" class="form-control" type="text" placeholder="" value="{{entity.cantidadDiasSemana}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="focusedinput">Activo</label>
                            <div class="col-sm-6">
                                <input id="focusedinput" class="form-control" type="text" placeholder="" value="{{entity.activo}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="focusedinput">Actividad</label>
                            <div class="col-sm-6">
                                <input id="focusedinput" class="form-control" type="text" placeholder="" value="{{entity.actividad}}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="col-lg-9">
                <div class="float-left col-lg-3">
                    <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                        {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
                    </a>
                </div>
                <div class="float-left col-lg-3">
                    <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                        {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                    </a>
                </div>
                <div class="float-left col-lg-3">
                    {{ form(delete_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}