{% extends 'MWSimpleAdminCrudBundle:Default:edit.html.twig' %}


{% block buttonsbelow %}
    <div class="col-lg-3 col-md-3 col-sm-3">
        <a class="form-control btn btn-info" href="{{ path(config.index) }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
        </a>
    </div>
    {% if is_granted('ROLE_SUPER_ADMIN') %}

        <div class="col-lg-2 col-md-2 col-sm-2">{{ form(delete_form) }}</div>
    {% endif %}
{% endblock %}