{% macro prototipoDomicilio(entity,deleteBtn) %}
    <div class="row-container rowremove">
        <div class="col-lg-12 col-md-12 col-sm-12">  
            <div class="row">
                <div class="form-group">
                    {{ form_label(entity.localidad) }}
                    {{ form_widget(entity.localidad) }}
                    {{ form_errors(entity.localidad) }}
                    {{ form_label(entity.calle) }}
                    {{ form_widget(entity.calle) }}
                    {{ form_errors(entity.calle) }}
                </div>
                <div class="form-group">
                    {{ form_label(entity.numero) }}
                    {{ form_widget(entity.numero) }}
                    {{ form_errors(entity.numero) }}
                    {{ form_label(entity.departamento) }}
                    {{ form_widget(entity.departamento) }}
                    {{ form_errors(entity.departamento) }}
                </div>
                <div class="form-group">
                    {{ form_label(entity.edificio) }}
                    {{ form_widget(entity.edificio) }}
                    {{ form_errors(entity.edificio) }}
                    {{ form_label(entity.manzana) }}
                    {{ form_widget(entity.manzana) }}
                    {{ form_errors(entity.manzana) }}
                </div>
                <div class="form-group">
                    {{ form_label(entity.entreCalles) }}
                    {{ form_widget(entity.entreCalles) }}
                    {{ form_errors(entity.entreCalles) }}
                    {{ form_label(entity.tira) }}
                    {{ form_widget(entity.tira) }}
                    {{ form_errors(entity.tira) }}
                </div>
                <div class="form-group">
                    {{ form_label(entity.parcela) }}
                    {{ form_widget(entity.parcela) }}
                    {{ form_errors(entity.parcela) }}
                    {% if deleteBtn is null %}
                        <div class="col-sm-6">    
                            <a class="delete_domicilio btn btn-mini btn-danger" href="#">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endmacro %}

<div class="panel panel-info">
    <div class="panel-heading"><h4><i class="fa fa-home"></i>Domicilio</h4></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="btn-group">
                    <a id="nuevoDomicilio" class="btn btn-default ">
                        <i class="fa fa-plus"></i>
                        <span>Nuevo</span>
                    </a>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12 ">
                <div data-prototype="{{ _self.prototipoDomicilio(form.domicilios.vars.prototype)|e }}" class="domicilio">
                    {% for key, domicilio in form.domicilios %}
                        {{ _self.prototipoDomicilio(domicilio) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{{ asset('bundles/sistemarrhh/js/domicilio.js') }}"></script>