{% macro prototipoTelefono(entity,deleteBtn) %}
    <div class="col-lg-12 col-md-12 col-sm-12 rowremove">
        <div class="col-lg-4 col-md-4 col-sm-4">
            {{ form_widget(entity.tipo) }}
            {{ form_errors(entity.tipo) }}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            {{ form_widget(entity.numero, { 'attr': {'placeholder': 'ej. 3624-688372'}}) }}
            {{ form_errors(entity.numero) }}
        </div>

        {% if deleteBtn is null %}
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a class="delete_telefono btn btn-mini btn-danger" href="#">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        {% endif %}
    </div>
{% endmacro %}

<div class="panel panel-info">
    <div class="panel-heading"><h4><i class="fa fa-phone"></i>Telefono</h4></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="btn-group">
                    <a id="nuevoTelefono" class="btn btn-default ">
                        <i class="fa fa-plus"></i>
                        <span>Nuevo</span>
                    </a>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label>Tipo</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label>Numero</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div data-prototype="{{ _self.prototipoTelefono(form.telefonos.vars.prototype)|e }}" class="telefono">
                        {% for key, telefono in form.telefonos %}
                            {% if key == 0 %}
                                {{ _self.prototipoTelefono(telefono,null) }}
                            {% else %}
                                {{ _self.prototipoTelefono(telefono,true) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('bundles/sistemarrhh/js/telefono.js') }}"></script>