{% extends 'MWSimpleAdminCrudBundle:Default:edit.html.twig' %}
{% block form %}
    {% form_theme edit_form 'SistemaGymBundle:Form:form-rutinaCliente-theme.html.twig' %}
    {{ form(edit_form) }}
    <script type='text/javascript' src='{{ asset('bundles/sistemagym/plugins/form-stepy/jquery.stepy.js') }}'></script> 
{% endblock %}
