{% extends 'MWSimpleAdminCrudBundle:Default:new.html.twig' %}

{% block form %}
    {% form_theme form 'SistemaGymBundle:Form:form-rutinaCliente-theme.html.twig' %}
    {{ form(form) }}
    <script type='text/javascript' src='{{ asset('bundles/sistemagym/plugins/form-stepy/jquery.stepy.js') }}'></script> 
{% endblock %}
