{% extends 'MWSimpleAdminCrudBundle:Default:show.html.twig' %}
{% block page %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4><i class="fa fa-check-square-o"></i> </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="focusedinput">Fecha</label>
                            <div class="col-sm-6">
                                <input id="focusedinput" class="form-control" type="text" placeholder="" value="{{entity.fecha|date('d-m-Y')}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="focusedinput">Rutina</label>
                            <div class="col-sm-6">
                                <input id="focusedinput" class="form-control" type="text" placeholder="" value="{{entity.Rutina}}">
                            </div>
                            <div class="col-sm-3">         
                                <button class=" btn btn-info" type="button" id="btnVerRutina">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="focusedinput">Cliente</label>
                            <div class="col-sm-6">
                                <input id="focusedinput" class="form-control" type="text" placeholder="" value="{{entity.Cliente}}">
                            </div>
                            <div class="col-sm-3">         
                                <button class=" btn btn-info" type="button" id="btnVerPerfilCliente">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="col-lg-9">
                <div class="float-left col-lg-3">
                    <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                        {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
                    </a>
                </div>
                <div class="float-left col-lg-3">
                    <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                        {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                    </a>
                </div>
                <div class="float-left col-lg-3">
                    {{ form(delete_form) }}
                </div>
            </div>
        </div>
    </div>
    {{ include('SistemaGymBundle:Form:macro-modalCliente.html.twig') }}
    {{ include('SistemaGymBundle:Form:macro-modalRutina.html.twig') }}
    <script type="text/javascript">
        $("#btnVerPerfilCliente").click(function() {
            verPerfilCompleto({{ entity.cliente.id }});
        });
        $("#btnVerRutina").click(function() {
            verRutina({{entity.rutina.id}});
        });
    </script>
{% endblock %}

