{% extends "SistemaGymBundle::layoutFOS.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <form>
        <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
        <p>Verifica la casilla de mensajes no deseados o spam.</p>
        <div>
            <div class="panel-footer">
                <div class="pull-left">
                    <a href="{{ path('homepage') }}" class="btn btn-default">Cerrar</a>
                </div>
            </div>
        </div>
    </form>
{% endblock fos_user_content %}