{% extends "SistemaGymBundle::layoutFOS.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<form>
	    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
	    {% if app.session is not empty %}
	        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
	        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
	    {% endif %}
	    <div>
            <div class="panel-footer">
                <div class="pull-left">
                    <a href="{{ path('homepage') }}" class="btn btn-default">Cerrar</a>
                </div>
            </div>
        </div>
    </form>
{% endblock fos_user_content %}