{% trans_default_domain 'FOSUserBundle' %}

<h4 class="text-center" style="margin-bottom: 25px;"><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> | {{ 'layout.register'|trans }}</h4>

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    <div class="form-group">
        <div class="col-sm-12">
            {{ form_errors(form) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                {{ form_widget(form.username) }}
                {{ form_errors(form.username) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                {#<input type="password" class="form-control" id="password" placeholder="Password">#}
                {#{ ld(form.plainPassword) }#}
                {{ form_widget(form.plainPassword.first) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                {#<input type="password" class="form-control" id="password" placeholder="Repeat password">#}
                {{ form_widget(form.plainPassword.second) }}
            </div>
        </div>
    </div>
    <div class="block" style="text-align:center">
        <input type="checkbox" style="margin-right:5px">
        <span>
            {{ form_rest(form) }}
            Acepto <a href="#">Acuerdo de usuario</a>
        </span>
    </div>

    <div>
        <div class="panel-footer">
            <div class="pull-left">
                <a href="{{ path('homepage') }}" class="btn btn-default">Cerrar</a>
            </div>
            <div class="pull-right">
                <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>