{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.edit.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
    {% form_theme edit_form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4><i class="fa fa-edit"></i></h4>
                </div>
                <div class="panel-body" style="border-radius: 0px 0px 0px 0px;">
                    {% block form %}
                        {{ form(edit_form) }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        {% block buttonsbelow %}
            <div class="col-lg-3 col-md-3 col-sm-3">
                <a class="form-control btn btn-info" href="{{ path(config.index) }}">
                    {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">{{ form(delete_form) }}</div>
        {% endblock %}
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
{% endblock %}