{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.show.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4><i class="fa fa-check-square-o"></i> </h4>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <fieldset>
                {% block form %} 
                    {% for key, field in config.fieldsshow %}
                        <div class="form-group">
                            <label class="col-lg-2 col-md-2 col-sm-2 control-label">{{ field.label }}</label>
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <div class="form-control">
                                    {% if field.type in ['datetime', 'datetimetz', 'date', 'time'] %}
                                        {{ attribute(entity, field.name)|date(field.date) }}
                                    {% elseif field.type in ['boolean'] %}
                                        {{ isActive(attribute(entity, field.name)) }}
                                    {% elseif field.type in ['ONE_TO_MANY', 'MANY_TO_MANY'] %}
                                        {% set many_entity = attribute(entity, field.name) %}
                                        {% for key, field in many_entity %}
                                            {{ field }} |
                                        {% endfor %}
                                    {% else %}
                                        {{ attribute(entity, field.name) }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endblock %}
            </fieldset>
        </form>
        {% block infoExtra %}{% endblock %}
    </div>
    <div class="panel-footer">
        {% block buttonsbelow %}
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="float-left col-lg-3 col-md-3 col-sm-3">
                    <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                        {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
                    </a>
                </div>
                <div class="float-left col-lg-3 col-md-3 col-sm-3">
                    <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                        {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                    </a>
                </div>
                <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
            </div>
        {% endblock %}
    </div>
</div>
{% endblock %}