/* Design by http://www.dreamtemplate.com */
@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#cccccc;
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
	background:#555 url(../images/main_bg.gif) repeat-x left top;
}
.slider {
	padding:0 0 24px;
	background:url(../images/slider_bg.png) no-repeat center bottom;
}

.header_resize {
    margin: 0 auto;
    padding: 0;
    width: 960px;
}


.menu_nav {
    float: inherit;
    height: 54px;
    margin: 0 auto;
    padding: 0;
}
.menu_nav ul {
    float: left;
    height: 54px;
    list-style: outside none none;
    padding: 0;
}
.menu_nav ul li {
    float: left;
    margin: 0;
    padding: 0;
}
.menu_nav ul li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 24px;
    font-weight: normal;
    height: 38px;
    line-height: 30px;
    margin: 0;
    padding: 16px 0 0;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    width: 192px;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
    background: #ffc53c none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
    height: 54px;
}

.logo {
    float: left;
    height: 146px;
    margin: 0;
    padding: 0;
    width: auto;
}

h1 {
    font-size: 60px;
    font-weight: normal;
    line-height: 1.2em;
    margin: 0;
    padding: 40px 0 0;
    text-align: left;
    text-transform: none;
}
h1 a, h1 a:hover {
    color: #fff;
    text-decoration: none;
}
h1 span {
}
h1 small {
    color: #fff;
    display: block;
    font-size: 32px;
    letter-spacing: normal;
    line-height: 1.2em;
    margin: -8px 0;
    text-transform: none;
}

.content .article {
	margin:0 0 32px;
	padding:0;
	background:url(../images/line.gif) repeat-x left bottom;
}
.footer {
	background:#ffc63d url(../images/footer_bg.gif) repeat-x left bottom;
}
.footer_resize {
	margin:0 auto;
	padding:0 20px;
	width:920px;
	line-height:1.5em;
	color:#555;
}
.footer_resize p {
	margin:24px 0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}
.footer_resize a {
	color:#3b3b3b;
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:underline;
	background-color:transparent;
}
.footer_resize a:hover {
	color:#3b3b3b;
	background-color:transparent;
	text-decoration:none;
}
.footer_resize .lf {
	float:left;
}
.footer_resize .rf {
	float:right;
}

.fbg_resize {
	margin:0 auto;
	width:920px;
	padding:16px 20px;
	color:#6e6e6e;
	background:#fff;
}

.slider {
    background: none;
    padding: 0 0 300px;
}
