{% set themeHeader  = app.user.configuracion.configuraciones.header is defined ?
    app.user.configuracion.configuraciones.header : "default.css" %}
{% set themeSidebar = app.user.configuracion.configuraciones.sidebar is defined ?
    app.user.configuracion.configuraciones.sidebar : "default.css" %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Gym Tecspro</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="gym.tecspro.com.ar">
        <meta name="author" content="TECSPRO">

        <link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap.min.css') }}" rel="stylesheet">
        {# <link href="assets/less/styles.less" rel="stylesheet/less" media="all"> #}
        <link rel="stylesheet" href="{{ asset('bundles/sistemagym/css/styles.min.css')}}">
        <link rel="stylesheet" href="{{ asset('bundles/sistemagym/css/fonts-googleapis-Source-Sans-Pro.css') }}" type="text/css">

        <link href='{{ asset('bundles/sistemagym/demo/variations/' ~ themeHeader)}}' rel='stylesheet' type='text/css' media='all' id='styleswitcher'>
        <link href='{{ asset('bundles/sistemagym/demo/variations/' ~ themeSidebar)}}' rel='stylesheet' type='text/css' media='all' id='headerswitcher'> 

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
        <!--[if lt IE 9]>
        <link rel="stylesheet" href="assets/css/ie8.css">
                <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
        <script type="text/javascript" src="assets/plugins/charts-flot/excanvas.min.js"></script>
        <![endif]-->

        <!-- The following CSS are included as plugins and can be removed if unused-->

        <link rel='stylesheet' type='text/css' href='{{ asset('bundles/sistemagym/plugins/codeprettifier/prettify.css')}}' /> 
        <link rel='stylesheet' type='text/css' href='{{ asset('bundles/sistemagym/plugins/form-toggle/toggles.css')}}' /> 
        {# <link href="{{ asset('bundles/mwsimpleadmincrud/css/crud.css') }}" rel="stylesheet"> #}
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap-checkbox.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap-fileupload/bootstrap-fileupload.min.css') }}" rel="stylesheet" id="bootstrap-style">
        <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/select2/select2.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrapValidator.min.css') }}">
        <link href="{{ asset('bundles/mwsimpleadmincrud/datetime/css/bootstrap-datetimepicker.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/sistemagym/plugins/pines-notify/jquery.pnotify.default.css') }}" type="text/css" rel="stylesheet">
        <style type="text/css">
            .footerBtn {

                text-align: right;
            }
            #s2id_e7 span{

                line-height: 14px !important;
                color: black;
            }
            .datetimepicker {
                width: 200px !important;
            }

            .item-boton{

                margin-bottom: 2px; 
            }
            .btn-midnightblue, .ico-blanc{

                color: white !important;
            }

            .btn:hover{

                color: black !important;
            }           
        </style>
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/sistemagym/js/jqueryui-1.10.3.min.js') }}"></script> 
        <script src="{{ asset('bundles/mwsimpleadmincrud/select2/select2.min.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/datetime/js/bootstrap-datetimepicker.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>
        <script src="{{ asset('bundles/sistemagym/js/jquery.blockUI.min.js') }}"></script>
        <link rel="shortcut icon" href="{{ asset('bundles/mwsimpleadmincrud/img/favicon.ico') }}">
    {% block stylesheets %}{% endblock %}
    <!-- Smartsupp Live Chat script -->
    <script type="text/javascript">
        var _smartsupp = _smartsupp || {};
        _smartsupp.key = '1f75c9e3871322fc1189a424551e6166f932dd4d';
        window.smartsupp || (function (d) {
            var s, c, o = smartsupp = function () {
                o._.push(arguments)
            };
            o._ = [];
            s = d.getElementsByTagName('script')[0];
            c = d.createElement('script');
            c.type = 'text/javascript';
            c.charset = 'utf-8';
            c.async = true;
            c.src = '//www.smartsuppchat.com/loader.js?';
            s.parentNode.insertBefore(c, s);
        })(document);
        {# Agrego datos del usuario #}
        {% if app.user.email is defined %}
            smartsupp('email', '{{ app.user.email }}');
        {% endif %}

        {% if app.user.username is defined %}
            smartsupp('name', '{{ app.user.username }}');
        {% endif %}
    </script>
</head>

<body class=" ">
    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <a id="leftmenu-trigger" class="tooltips" data-toggle="tooltip" data-placement="right" title="Toggle Sidebar"></a>
        {#<a id="rightmenu-trigger" class="pull-right" data-toggle="tooltip" data-placement="bottom" title="Asistencias"></a>#}

        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="{{ path('homepage') }}"><i class="glyphicon glyphicon-home"></i></a>
        </div>
        <ul class="nav navbar-nav pull-right toolbar">            
            {{ render(controller('SistemaMWSCONFBundle:Default:findGymByUser')) }}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle username" data-toggle="dropdown">
                    <span class="hidden-xs"><i class="fa fa-caret-down"></i> {{ app.user.username }}</span>
                </a>
                <ul class="dropdown-menu userinfo arrow">
                    <li class="username">
                        <div class="pull-right"><small>Logueado como <span>{% if is_granted("IS_AUTHENTICATED_FULLY") %}{{ app.user.username }}{% endif %}</span></small></div>
                    </li>
                    <li class="userlinks">
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_change_password') }}">Cambiar contrase&ntilde;a<i class="pull-right fa fa-pencil"></i></a></li>
                            {% if is_granted('ROLE_ADMIN')%}
                                <li>
                                    <a href="{{path('admin_preferencia_edit_byuser')}}">
                                        Preferencias 
                                        <i class="pull-right fa fa-cog"></i>            
                                    </a>
                                </li>
                                    {# <li><a href="#">Ayuda <i class="pull-right fa fa-question-circle"></i></a></li> #}
                            <li class="divider"></li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN')%}
                                <li>
                                    <a href="{{ path('cuenta-usuario') }}">
                                        Cuenta
                                        <i class="pull-right fa fa-user"></i>
                                    </a>
                                </li>                            
                            <li class="divider"></li>
                            {% endif %}
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}" class="text-right">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown demodrop">
                <a href="#" class="dropdown-toggle tooltips" data-toggle="dropdown"><i class="fa fa-cogs"></i></a>

                <ul class="dropdown-menu arrow dropdown-menu-form" id="demo-dropdown">
                    <li>
                        <label for="demo-header-variations" class="control-label">Header Colors</label>
                        <ul class="list-inline demo-color-variation" id="demo-header-variations">
                            <li><a class="color-black cambiarColor" href="javascript:;"  data-headertheme="header-black.css" data-tema="header-black.css"></a></li>
                            <li><a class="color-dark cambiarColor" href="javascript:;"  data-headertheme="default.css" data-tema="default.css"></a></li>
                            <li><a class="color-red cambiarColor" href="javascript:;" data-headertheme="header-red.css" data-tema="header-red.css"></a></li>
                            <li><a class="color-blue cambiarColor" href="javascript:;" data-headertheme="header-blue.css" data-tema="header-blue.css"></a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <label for="demo-color-variations" class="control-label">Sidebar Colors</label>
                        <ul class="list-inline demo-color-variation" id="demo-color-variations">
                            <li><a class="color-lite cambiarColor2" href="javascript:;"  data-theme="default.css" data-tema="default.css" ></a></li>
                            <li><a class="color-steel cambiarColor2" href="javascript:;" data-theme="sidebar-steel.css" data-tema="sidebar-steel.css"></a></li>
                            <li><a class="color-lavender cambiarColor2" href="javascript:;" data-theme="sidebar-lavender.css" data-tema="sidebar-lavender.css"></a></li>
                            <li><a class="color-green cambiarColor2" href="javascript:;" data-theme="sidebar-green.css"  data-tema="sidebar-green.css"></a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <label for="fixedheader">Fixed Header</label>
                        <div id="fixedheader" style="margin-top:5px;"></div> 
                    </li>
                </ul>
            </li>
        </ul>
    </header>

    <div id="page-container">
        <!-- BEGIN SIDEBAR -->
        <nav id="page-leftbar" role="navigation">
            <!-- BEGIN SIDEBAR MENU -->
            <ul class="acc-menu" id="sidebar">

                {#
                    EL SELECT2#E7: Este es un select que mas abajo se le agrega una funcion ajax para
                    traer la id de un cliente mediante su nombre o apellido.
                    La ID del cliente es conservada en input por de bajo para poder buscarlo facilmente
                    y que no se vea en el elemento.
                #}
                <li class="item-boton">
                    <input type="hidden" id="e7" class="search-query" >
                </li>
                {# 
                    BOTON DE ASISTENCIA: Este boton activara, cuando sea clickeado, una funcion que 
                    traera un modal (ID: modalAsistencia) que mostrara las actividades y planes de un cliente en especifico escogido en el select2#e7.
                #}
                <li class="item-boton">
                    <a href="javascript:;" class="btn btn-midnightblue"  id="buscarAsistencia">
                        <i class="fa fa-check ico-blanc" id='check-menu-izq'></i>
                        <span>Poner Asistencia</span>
                    </a>
                </li>
                {# 
                    BOTON DE INFORMACION DE CUENTA: Cuando este boton sea clickeado, iniciara una funcion
                    para traer al modal (ID: modalCuentaCorriente) para mostrar la informacion de la cuenta corriente del cliente elejido en el select2#e7.
                #}
                <li class="item-boton">
                    <a href="javascript:;" class="btn btn-midnightblue"  id="buscarCuentaCorriente">
                        <i class="fa fa-money ico-blanc" id='dolar-menu-izq'></i>
                        <span>Informacion de cuenta</span>
                    </a>
                </li>
                {# 
                    BOTON DE PAGOS POR DIA: Redirige a una plantilla donde, por defecto, se muestran los
                    pagos realizados el dia actual. Solo el admin puede verlo.
                #}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="item-boton">
                        <a href="{{ path('admin_pagos_dia') }}" class="btn btn-midnightblue">
                            <i class="fa fa-money ico-blanc" id='dolar-menu-izq'></i>
                            <span>Cobros diarios</span>
                        </a>
                    </li>                
                {% endif %}

                <script type="text/javascript">
                    $("#e7").select2({
                        placeholder: "Buscar Cliente...<i class='fa fa-search'></i>",
                        minimumInputLength: 1,
                        width: '100%',
                        ajax: {
                            url: "{{ path('Cliente_autocomplete_cliente') }}",
                            dataType: "json",
                            quietMillis: 250,
                            data: function (term, page) {
                                return {
                                    // search term
                                    q: term
                                };
                            },
                            results: function (data, page) {

                                return {results: data};
                            },
                            cache: true
                        },

                        escapeMarkup: function (m) {
                            return m;
                        },

                        formatResult: clienteFormatResult,
                        formatSelection: clienteFormatSelection,
                        dropdownCssClass: "bigdrop",
                    });

                    function clienteFormatResult(cliente) {
                        var markup = "<div id='chatbody' class='widget-body collapse in'><ul class='chat-users'>";
                        markup += "<li data-stats='online'><a href='javascript:;'>" +
                                "<img alt='' src='" + cliente.fotoPerfil + "'/>" +
                                "<span>" + cliente.text + "</span>" +
                                "</a></li>";
                        markup += "</ul></div>"
                        return markup;
                    }

                    function clienteFormatSelection(data) {
                        return data.text;
                    }

                    $("#e7").on("change", function (e) {
                        cargarCliente(e.added.id);
                    });

                </script>
                </li>
                <li class="divider"></li>

            </ul>
            {% block menu %}
                {{ knp_menu_render('MWSimpleAdminCrudBundle:Builder:adminMenu') }}
            {% endblock %}
            <!-- END SIDEBAR MENU -->
        </nav>

        <!-- BEGIN RIGHTBAR -->
        {#<div id="page-rightbar">

            <div id="widgetarea">
                <div class="widget">
                    <div class="widget-heading">
                        <a href="javascript:;" data-toggle="collapse" data-target="#taskbody"><h4>Pending Tasks <small>(5)</small></h4></a>
                    </div>
                    <div class="widget-body">
                        <input type="hidden" id="e7" class="search-query" >
                        <script type="text/javascript">
                            $("#e7").select2({
                                placeholder: "Buscar Cliente...<i class='fa fa-search'></i>",
                                minimumInputLength: 1,
                                width: '100%',
                                // instead of writing the function to execute the request we use Select2's convenient helper
                                ajax: {
                                    url: "{{ path('Cliente_autocomplete_cliente') }}",
                                    dataType: "json",
                                    quietMillis: 250,
                                    data: function (term, page) {
                                        return {
                                            // search term
                                            q: term
                                        };
                                    },
                                    results: function (data, page) {
                                        // parse the results into the format expected by Select2.
                                        // since we are using custom formatting functions we do not need to alter the remote JSON data
                                        return {results: data};
                                    },
                                    cache: true
                                },
                                // we do not want to escape markup since we are displaying html in results
                                escapeMarkup: function (m) {
                                    return m;
                                },
                                formatResult: clienteFormatResult,
                                formatSelection: clienteFormatSelection,
                                dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
                            });
                            function clienteFormatResult(cliente) {
                                var markup = "<div id='chatbody' class='widget-body collapse in'><ul class='chat-users'>";
                                markup += "<li data-stats='online'><a href='javascript:;'>" +
                                        "<img alt='' src='/uploads/" + cliente.fotoPerfil + "'/>" +
                                        "<span>" + cliente.text + "</span>" +
                                        "</a></li>";
                                markup += "</ul></div>"
                                return markup;
                            }

                            function clienteFormatSelection(data) {
                                return data.text;
                            }
                            $("#e7").on("change", function (e) {
                                cargarCliente(e.added.id);
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>#}
        <div id="page-content">
            <div id='wrap'>
                <div class="container">
                    <div id="mjes"></div>
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ type }}">
                                {{ flashMessage|trans({}, 'MWSimpleAdminCrudBundle') }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% block page %}{% endblock %}

                <!-- Modal Asistencia-->
                {#
                    Este modal aparecera al clickearse el boton de asistencia (ID: buscarAsistencia).
                    En esta parte del codigo el modal esta hidden y tampoco tiene los campos que muestra
                    posteriormente. Se lo compilara con una plantilla de handlebar mas adelante. 
                    Vea SistemaGymBundleAsistencia:listaAsistencia.html.twig
                #}
                    <div class="modal fade" id="modalAsistencia" tabindex="-1" role="dialog" 
                            aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            {# input que se usa para llevar la id del cliente al ajax de asistencia #}
                            <input type="hidden" id="hCliente">
                            <div class="modal-content" id="listaAsistencia">
                            </div>
                        </div>
                    </div> 
                <!-- container -->

                <!-- Modal Cuenta Corriente-->
                {#
                    MODAL INFORMACION CUENTA: Muy parecido al modal de asistencia. Mostrara
                    luego de ser compilado con la plantilla "SistemaGymBundleAsistencia:Modal-CuentaCorriente.html.twig"
                    las deudas que tiene el cliente elejido en el select2#e7.
                #}
                    <div class="modal fade" id="modalCuentaCorriente" tabindex="-1" role="dialog" 
                            aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            {# input que se usa para llevar la id del cliente al ajax de Corriente#}
                            {# ¿Porque hay 2 input con la misma ID? Aahhpp! #}
                            <input type="hidden" id="hCliente">
                            <div class="modal-content" id="cuentaCorriente">
                            </div>
                        </div>
                    </div>
                <!-- container -->     

                <div style="display: none">
                    {{ render(controller('SistemaGymBundle:Asistencia:new')) }}
                </div >
            </div> <!--wrap -->
        </div> <!-- page-content -->
    </div>
    <footer role="contentinfo">
        {% if app.session.get('diasRestantes') is not null %}
            <nav style=" background-color: #FFD76E;" class="navbar navbar-default navbar-fixed-bottom" role="banner">
                {% if app.session.get('diasRestantes') >= 0 %}
                    <h3 style=" color:black; text-align: center;">
                        Ud. tiene <strong>{{ app.session.get('diasRestantes') }} d&iacute;as</strong> para pagar el servicio.
                    </h3>
                {% else %}
                    <h3 style=" color:red; text-align: center;">
                        Ud. tiene <strong>{{ 3 - app.session.get('diasRestantes')|abs }} d&iacute;as</strong> para regularizar el estado de su cuenta.
                    </h3>
                {% endif %}
            </nav>
        {% endif %}

        <div class="clearfix">
            <ul class="list-unstyled list-inline">
                <li>Copyright &copy; <a href="#">www.gym.tecspro.com.ar</a>. Todos los derechos reservados | Desarrollado por <a target="_blank" href="http://www.tecspro.com.ar">TECSPRO</a></li>
                <button class="pull-right btn btn-inverse-alt btn-xs hidden-print" id="back-to-top"><i class="fa fa-arrow-up"></i></button>
            </ul>
        </div>
    </footer>
</div> <!-- page-container -->
<!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<script>!window.jQuery && document.write(unescape('%3Cscript src="assets/js/jquery-1.10.2.min.js"%3E%3C/script%3E'))</script>
<script type="text/javascript">!window.jQuery.ui && document.write(unescape('%3Cscript src="assets/js/jqueryui-1.10.3.min.js'))</script>
-->
<script src="{{ asset('bundles/mwsimpleadmincrud/js/validator/bootstrapValidator.min.js') }}"></script>
<script src="{{ asset('bundles/mwsimpleadmincrud/js/validator/language/es_ES.js') }}"></script>
<script type='text/javascript' src="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap-checkbox.js') }}"></script>
<script type='text/javascript' src='{{ asset('bundles/sistemagym/js/enquire.js') }}'></script> 
<script type='text/javascript' src='{{ asset('bundles/sistemagym/js/jquery.cookie.js') }}'></script> 
<script type='text/javascript' src='{{ asset('bundles/sistemagym/js/jquery.nicescroll.min.js') }}'></script> 
<script type='text/javascript' src='{{ asset('bundles/sistemagym/plugins/codeprettifier/prettify.js') }}'></script> 
<script type='text/javascript' src='{{ asset('bundles/sistemagym/plugins/easypiechart/jquery.easypiechart.min.js')}}'></script> 
<script type='text/javascript' src='{{ asset('bundles/sistemagym/plugins/sparklines/jquery.sparklines.min.js')}}'></script> 
<script type='text/javascript' src='{{ asset('bundles/sistemagym/plugins/form-toggle/toggle.min.js') }}'></script> 
<script type='text/javascript' src='{{ asset('bundles/sistemagym/js/placeholdr.js') }}'></script> 
<script type='text/javascript' src='{{ asset('bundles/sistemagym/js/application.js') }}'></script> 
<script type='text/javascript' src='{{ asset('bundles/sistemagym/demo/demo.js') }}'></script>
<script type='text/javascript' src='{{ asset('bundles/sistemagym/js/handlebars-v1.3.0.js') }}'></script> 
<script type='text/javascript' src='{{ asset('bundles/sistemagym/js/metodosHandlebar.js') }}'></script> 
<script src="{{ asset('bundles/sistemagym/plugins/pines-notify/jquery.pnotify.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

{# Se incluyen las plantillas que van a ser los modales #modalCuentaCorriente #modalAsistencia. #}
{{ include('SistemaGymBundle:Asistencia:listaAsistencia.html.twig') }}
{{ include('SistemaGymBundle:Asistencia:Modal-CuentaCorriente.html.twig') }}

<script type = "text/javascript">
    /*
        El javascript: funciones como obtenerActividadesByCliente(), obtenerCuetaCorrienteByCliente()
        contendran llamadas ajax para traer informacion de los clientes.
    */
    var $templateModalAsistencia;
    var $templateModalCuentaCorriente;

    $(document).ready(function () {

        var countCuotas = {{ app.session.get('countCuotas')|default(0) }};

        countCantidadCuotas(countCuotas);

        // Se crean variables para compilar las pantillas 
        // para los modales #modalCuentaCorriente, y #modalAsistencia.

            var source_asistencia = $("#hbListActividades").html();
            $templateModalAsistencia = Handlebars.compile(source_asistencia);

            var source_cuentaCorriente = $("#hbCuentaCorriente").html();
            $templateModalCuentaCorriente = Handlebars.compile(source_cuentaCorriente);        
    });

    function cargarCliente(cliente) {
        $("#hCliente").val(cliente);
    }

    function countCantidadCuotas(val) {
        if (val !== 0) {
            $("#mnuCuota a").append('<span id="countCuotas"></span>');
            $("#countCuotas").text(val);
            $("#countCuotas").addClass("badge badge-danger");
        } else {
            $("#countCuotas").text("");
            $("#countCuotas").removeClass("badge badge-danger");
        }
    }

    // Funcion OnClick() que se ejecuta cunado se hace click al modal de asistencia.

        $("#buscarAsistencia").click(function () {

            // Se verifica el texto del select2#e7, si es "Buscar Cliente..."
            // no hay cliente seleccionado, y se pide al usuario que busque uno
            // con el select2.
            if ($.trim($("#s2id_e7").text()) === "Buscar Cliente...") {

                $.pnotify({
                    title: 'Error',
                    text:  'Debe elegir primero el cliente',
                    type:  'error'
                });
            } else {

            // De haber un cliente selecccionado se envia su ID. a
            // la funcion obtenerActividadesByCliente(). Su id la contiene el
            // input que se encuentra en los modales #modalCuentaCorriente, y #modalAsistencia.
                obtenerActividadesByCliente($("#hCliente").val());
            }
        });

    function obtenerActividadesByCliente(cliente) {

        // Se bloque el boton de asistencias
        $("#buscarAsistencia").attr('disabled', true);

        // Se realiza la llamada ajax al servidor, buscando a traves
        // de la ID del cliente, informacion sobre las asistencias.

        $.ajax({
            type: "POST",
            url: "{{ path('actividad_cobro_by_cliente') }}",
            data: {id: cliente},
            success: function (array) {

                if (array.resultado) {

                    if (array.mostrarModal) {

                        // luego de trar la inforlacion del servidor
                        // exitosamente, se llama a la siguiente funcion
                        // actualizarListaAsitencia() que se encuentra 
                        // en la plantilla incluida:
                        // SistemaGymBundle:Asistencia:listaAsistencia.html.twig

                        actualizarListaAsitencia(array);

                        // Una vez modificado el modal de asistencias
                        // y cargado con todos datos y elementos HTML
                        // por el handlebar. Se lo llama que se ejecuta
                        // la funcion modal('show'), para mostrar su contenido
                        // en forma de modal.
                        $('#modalAsistencia').modal('show');
                    } else {

                        $.pnotify({
                            title: 'Asistencia Confirmada',
                            text:  'Registro Guardado',
                            type:  'success'
                        });
                    }
                } else {

                    $.pnotify({
                        title: 'Disculpe. Hubo un error al crear la asistencia', 
                        text:  array.mensaje, 
                        type:  'error'
                    });
                }
                $("#buscarAsistencia").attr('disabled', false);
            },
            error: function (data) {
                $("#buscarAsistencia").attr('disabled', false);
                $.pnotify({
                    title: 'Disculpe, existió un problema',
                    text: array.mensaje,
                    type: 'error'
                });
            }
        });
    }

    // Funcion OnClick() que se ejecuta cunado se hace click al modal de informacion de cuenta.

    $("#buscarCuentaCorriente").click(function () {

        // Se verifica el texto del select2#e7.
        // Mediante su contenido se puede saber si el input #hCliente
        // contiene o no, la ID del cliente.
        
        if ($.trim($("#s2id_e7").text()) === "Buscar Cliente...") {

            $.pnotify({
                title: 'Error',
                text:  'Debe elegir primero el cliente',
                type:  'error'
            });
        } else {

            // De haber ID en el input #hCliente se llama
            // a la siguiente funcion y se le pasa la ID como
            // parametro.

            obtenerCuetaCorrienteByCliente($("#hCliente").val());
        }
    });

    function obtenerCuetaCorrienteByCliente(cliente) {

        // Se pone en disabled la funcionalidad del boton informacion cuenta 
        $("#buscarCuentaCorriente").attr('disabled', true);

        // Con la misma ID que se usa en el ajax de asistencia, ahora
        // se buscara en el servidor informacion sobre la cuenta del cliente.
        $.ajax({
            type: "POST",
            url: "{{ path('cuenta_corriente_by_cliente') }}",
            data: {id: cliente},
            success: function (array) {
                if (array.resultado) {

                    // Esta funcion se encuentra en la plantilla incluida
                    // SistemaGymBundle:Asistencia:Modal-CuentaCorriente.html.twig
                    traerCuentaCorriente(array);

                    // Y luego se muestra el modal con todo su contenido.
                    $('#modalCuentaCorriente').modal('show');
                } else {

                    $.pnotify({
                        title: 'Disculpe. Hubo un error al buscar la cuenta del cliente.', 
                        text:  array.mensaje, 
                        type:  'error'
                    });
                }
                $("#buscarCuentaCorriente").attr('disabled', false);
            },
            error: function (data) {

                $("#buscarCuentaCorriente").attr('disabled', false);
                $.pnotify({
                    title: 'Disculpe, existió un problema',
                    type: 'error'
                });
            }
        });
    }    

    $(".cambiarColor2").click(function () {
        actualizarColor($(this).attr('data-theme'), 'header');
    });
    $(".cambiarColor").click(function () {
        actualizarColor($(this).attr('data-headertheme'), 'sidebar');
    });
    function actualizarColor(_theme, _tipo) {
        $.ajax({
            type: "POST",
            url: "{{ path('cambiar_color') }}",
            data: {theme: _theme, tipo: _tipo},
            success: function (array) {
                if (array[0].resultado === true) {
                    $('#mjes').html("<div class='alert alert-success'>cambios realizados</div>");
                    setTimeout(function () {
                        $('#mjes').html("");
                    }, 5000);
                } else {
                    $('#mjes').html("<div class='alert alert-danger'>Error al actualizar</div>");
                    setTimeout(function () {
                        $('#mjes').html("");
                    }, 5000);
                }
            },
            error: function (data) {
                $('#mjes').html("<div class='alert alert-danger'>Error al actualizar</div>");
                setTimeout(function () {
                    $('#mjes').html("");
                }, 5000);
            }
        });
    }
</script>
{% block javascript %}{% endblock %}
</body>
</html>