{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block page %}

	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4">
		    <div class="panel panel-success">
				<h4>
					Servicio al que Ud. esta suscripto: <strong>{{ user.getServicio() }}</strong>
				</h4>

				<h4>
					Fecha de vencimiento de su servicio:
					<strong>

						{{ user.getFechaFinServicio()|date('d-m-Y') }}
					</strong>
				</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4">
			{% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
		    {% include 'FOSUserBundle:Profile:edit_content.html.twig' with { 'form': form } %}
		</div>
	</div>
{% endblock %}
