{% extends 'MWSimpleAdminCrudBundle:Default:edit.html.twig' %}

{% block form %}
    {% form_theme edit_form 'SistemaGymBundle:Form:form-rutina-theme.html.twig' %}
    {{ form(edit_form) }}

    <!-- Modal Previsualizar-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Rutina</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    {% include 'SistemaGymBundle:Form:macro-modaCombinacion.html.twig' with { 'form' : formCombinacion } %}
    {% include 'SistemaGymBundle:Form:macro-modaEjercicio.html.twig' with { 'form' : formEjercicio } %}
    <script type='text/javascript' src='{{ asset('bundles/sistemagym/plugins/form-stepy/jquery.stepy.js') }}'></script> 
{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
    <script src="{{ asset('bundles/sistemagym/js/addForm.js') }}"></script>
    <script src="{{ asset('bundles/sistemagym/js/addFormEmbed.js') }}"></script>
{% endblock %}

