{% extends 'MWSimpleAdminCrudBundle:Default:index.html.twig' %}
{% block moreActions %}
    <a class="glyphicon   glyphicon-list   tooltips btnAsignarRutinaCliente" data-id="{{entity.id}}" href="javascript:;" title="" rel="tooltip" data-original-title="Asignar Rutina a Cliente" ></a>
{% endblock %}

{% block footerPanel %}
    <a class="btn btn-green" href="{{ path('admin_combinacion') }}">
        Administrar Combinaciones
    </a>
    <a class="btn btn-green" href="{{ path('admin_ejercicio') }}">
        Administrar Ejercicios
    </a>
    <a class="btn btn-green" href="{{ path('admin_rutinacliente') }}">
        Administrar Asignacion de Rutina
    </a>
    {{ include('SistemaGymBundle:Form:macro-modalAsignarRutinaCliente.html.twig') }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(".btnAsignarRutinaCliente").click(function() {
            verRutinaCliente($(this).data('id'));
        });
    </script>
{% endblock %}