{% extends 'MWSimpleAdminCrudBundle:Default:new.html.twig' %}

{% block form %}
    {% form_theme form 'SistemaGymBundle:Form:form-rutina-theme.html.twig' %}
    {{ form(form, { 'attr': {'id': 'formuarioRutina'} }) }}

    {% include 'SistemaGymBundle:Form:macro-modalRutina.html.twig' %}
    {% include 'SistemaGymBundle:Form:macro-modaCombinacion.html.twig' with { 'form' : formCombinacion } %}
    {% include 'SistemaGymBundle:Form:macro-modaEjercicio.html.twig' with { 'form' : formEjercicio } %}
    <script type='text/javascript' src='{{ asset('bundles/sistemagym/plugins/form-stepy/jquery.stepy.js') }}'></script> 
{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
    <script src="{{ asset('bundles/sistemagym/js/addForm.js') }}"></script>
    <script src="{{ asset('bundles/sistemagym/js/addFormEmbed.js') }}"></script>
{% endblock %}
