{% extends 'MWSimpleAdminCrudBundle:Default:show.html.twig' %}
{% block page %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4><i class="fa fa-check-square-o"></i> </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="focusedinput">Cantidad de Semanas</label>
                            <div class="col-sm-6">
                                <input id="focusedinput" class="form-control"   readonly="true" type="text" placeholder="" value="{{entity.cantidadSemanas}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="focusedinput">Nombre</label>
                            <div class="col-sm-6">
                                <input id="focusedinput" class="form-control"  readonly="true" type="text" placeholder="" value="{{entity.nombre}}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-midnightblue">
                        <div class="panel-heading">
                            <h4>
                                <ul class="nav nav-tabs">
                                    {% for key,rutinaDia in entity.rutinaDias%}
                                        <li class="{% if key==0 %}active{% endif %}">
                                            <a data-toggle="tab" href="#{{rutinaDia.dia ~ key}}">
                                                <i class="fa fa-list visible-xs icon-scale"></i>
                                                <span class="hidden-xs">{{rutinaDia.dia}}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                {% for key,rutinaDia in entity.rutinaDias%}
                                    <div role="tabpanel" class="tab-pane {% if key==0 %}active{% endif %}" id="{{rutinaDia.dia ~ key}}">
                                        <ul class="panel-comments">
                                            {% for key,combinacion in rutinaDia.combinacion %}
                                                <li>
                                                    <p>{{combinacion}}</p>
                                                </li>
                                            {% endfor %}
                                        </ul>    
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="col-lg-9">
                <div class="float-left col-lg-3">
                    <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                        {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
                    </a>
                </div>
                <div class="float-left col-lg-3">
                    <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                        {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                    </a>
                </div>
                <div class="float-left col-lg-3">
                    {{ form(delete_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
